@import "variables";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bgBackground;
}

/// Headings
  
h2 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: $greyPeakBlue;
}

h3 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.6875rem;
  margin-bottom: 2rem;
}

h4 {
  color: $mainGrey;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4rem;
}

h4 span {
  font-weight: normal;
}

p {
  font-size: .875rem;
  line-height: 1.0625rem;
  margin-bottom: 1rem;
}

/// Toast notifcations

.toast-container {
  position: absolute;
  z-index: 1;
  top: 10%;
  right: 50%;
  transform: translateX(50%);
}

.toast-body {
  font-size: 1.25rem;
}

/// Text

.text-s-bold {
  @include copy-s-bold;
}

.text-lg-bold {
  @include copy-l-bold;
}

/// Buttons

.btn { // this is md/medium 
  @include btn-md;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.btn-xs {
  @include btn-xs;
}

.btn-sm {
  @include btn-sm;
}

.btn-lg {
  @include btn-lg;
}

.btn-xl {
  @include btn-xl;
}

.btn-block {
  width: 100%;
}

.btn-primary {
  background-color: $greyPeakBlue;
  border-color: $greyPeakBlue;
  color: white;
  box-shadow: $buttonShadow;
}

.btn-primary:hover {
  background-color: #507D9E;
  border-color: #507D9E;
}

.btn-primary:disabled {
  background-color: $lightPeakBlue;
  border-color: $lightPeakBlue;
}

.btn-outline-primary {
  border-color: $greyPeakBlue;
  color: $greyPeakBlue;
  border-width: 3px;
}

.btn-outline-primary:hover {
  background-color: #507D9E;
  border-color: #507D9E;
}

.btn .peakicon {
  margin-left: -.5em;
  margin-right: .5em;
}

.btn .peakicon-add {
  font-size: 1.5em;
}

/// Form controls

input.form-control {
  @include copy-m-bold;
  border: 0;
  border-radius: .625rem;
  box-shadow: $searchShadow;
  color: $mainGrey;
  height: calc(1.5rem + 1.875rem);
  padding: .9375rem 1.25rem;
}

input.form-control.form-control--search {
  background: #fff url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6029 28.7588C22.7154 28.7588 28.4812 22.9569 28.4812 15.7998C28.4812 8.64276 22.7154 2.84082 15.6029 2.84082C8.49042 2.84082 2.72461 8.64276 2.72461 15.7998C2.72461 22.9569 8.49042 28.7588 15.6029 28.7588Z' stroke='%233D5058' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31.6998 31.9986L24.6973 24.9521' stroke='%233D5058' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat right 1.25rem center/1.5rem 1.5rem;
  padding: .9375rem 2.75rem .9375rem 1.25rem;
}

/// Dropdowns

.custom-select {
  @include copy-m-bold;
  background: #fff url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.436 8.82583L12.4639 17.8484L20.8422 8.84245' stroke='%233D5058' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E") no-repeat right 1.25rem center/1.5rem 1.5rem;
  border: 0;
  border-radius: .125rem;
  box-shadow: $searchShadow;
  color: $mainGrey;
  height: calc(1.5rem + 1.875rem);
  padding: .9375rem 2.75rem .9375rem 1.25rem;
}

/// Form fields- combined label + control

.form-field {
  background-color: white;
  padding: .5rem .625rem;
  box-shadow: $cardShadow;
}

.form-field label {
  @include copy-s-bold;
  color: $lowPriorityGrey;
  margin-bottom: 0.25rem;
}

.form-field .form-control {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  font-weight: 600;
  color: $mainGrey;
  padding: 0;
}

.form-field input.form-control {
  height: calc(1.8125rem + .5625rem);
}

.form-field .form-control:focus {
  box-shadow: none;
}

.invalid-feedback {
  @include copy-s-bold;
}
.form-field.is-invalid {
  outline: 3px solid $danger;

  .invalid-feedback {
    display: block;
    position: absolute;
    top: .625rem;
    right: .625rem;
    width: auto;
    color: $danger;
  }

  & ~ .invalid-feedback {
    margin-top: .5rem;
  }
}

@include media-breakpoint-up(md) {
  .form-field.is-invalid {
    outline: 3px solid $danger;
  }
}

input.form-control.is-invalid {
  outline: none;
}

/// Checkboxes

.form-check {
  margin-bottom: .5rem;
  padding-left: 1.75rem;
}

.form-check-input {
  display: inline-block;
  opacity: 0;
  width: 22px;
}

.form-check-label {
  display: inline-block;
  position: relative;
  font-size: .875rem;
  line-height: 1.5rem;
  color: $mainGrey;
}

.form-check-label:before, .form-check-label::after {
  position: absolute;
  display: inline-block;
  left: -1.75rem;
  top: 0;
}

.form-check-label::before {
  content: "";

  top: 2px;
  height: 22px;
  width: 22px;
  background-color: white;

  border: 2px solid $greyPeakBlue;
  border-radius: 2px;
}

.form-check-input + .form-check-label::after {
  content: none;
}

.form-check-input:checked + .form-check-label::after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  font-size: 1.125rem;
  font-weight: 900;  
  color: $greyPeakBlue;
  left: -1.625rem;
}

/// Grouped editing controls

fieldset {
  legend {
    background-color: $greyPeakBlue;
    @include copy-s-bold;
    color: white;
    padding: .5rem 2rem;
  }

  .form-group {
    height: 3.75rem;
    margin-bottom: .5rem;
    position: relative;
  }

  .form-field {
    position: relative;
    border-radius: .3125rem;
    box-shadow: $cardShadow;
    overflow: hidden;
    padding: .75rem 1rem .5rem;

    label {
      display: block;
      @include copy-xs-bold;
      color: $lowPriorityGrey;
      margin-bottom: .125rem;
    }

    .form-control, .form-control-plaintext {
      @include copy-m-bold;
      color: $mainGrey;
      height: 1.625rem;
      padding: 0;      
      &:focus {
        outline: none;
      }
    }

    .form-control-plaintext {
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .form-field--verified::before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: .5rem;
    bottom: 0;
    background-color: $middlePeakBlue;
  }

  .form-field--editing::after {
    display: block;
    position: absolute;
    content: '';
    cursor: pointer;
    background: #fff url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='15px' viewBox='0 0 15 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='small' transform='translate(1.000000, 1.000000)' fill='%233D5058' fill-rule='nonzero'%3E%3Cpath d='M6.5,4.379 L11.1893398,-0.310660172 C11.7751263,-0.896446609 12.7248737,-0.896446609 13.3106602,-0.310660172 C13.859835,0.238514613 13.8941584,1.10757702 13.4136304,1.69673776 L13.3106602,1.81066017 L8.62,6.5 L13.3106602,11.1893398 C13.859835,11.7385146 13.8941584,12.607577 13.4136304,13.1967378 L13.3106602,13.3106602 C12.7614854,13.859835 11.892423,13.8941584 11.3032622,13.4136304 L11.1893398,13.3106602 L6.5,8.62 L1.81066017,13.3106602 C1.26148539,13.859835 0.392422977,13.8941584 -0.196737762,13.4136304 L-0.310660172,13.3106602 C-0.859834957,12.7614854 -0.894158381,11.892423 -0.413630444,11.3032622 L-0.310660172,11.1893398 L4.379,6.5 L-0.310660172,1.81066017 C-0.859834957,1.26148539 -0.894158381,0.392422977 -0.413630444,-0.196737762 L-0.310660172,-0.310660172 C0.238514613,-0.859834957 1.10757702,-0.894158381 1.69673776,-0.413630444 L1.81066017,-0.310660172 L6.5,4.379 L11.1893398,-0.310660172 L6.5,4.379 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center center/1rem 1rem;
    width: 2rem;
    height: 2rem;
    right: .5rem;
    bottom: .25rem;
  }

  .form-field--focused {
    position: absolute;
    top: -.75rem;
    right: -1rem;
    bottom: -.75rem;
    left: -1rem;
    z-index: 1;
    box-shadow: $cardSelectedShadow;

    label {
      margin-bottom: .75rem;
    }

    .form-control, .form-control-plaintext {
      @include copy-l-bold;
      height: 1.8125rem;
    }

    &.form-field--editing::after {
      bottom: .75rem;
    }
  }
}

/// Unauthenticated page layouts

.unauthenticated {
  .col {
    max-width: 566px;
    padding-left: 20px;
    padding-right: 20px;
  }  

  .logo {
    display: block;
    max-width: 440px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    @include copy-s-regular;
  }

  .btn-link {
    @include copy-s-bold;
    border-bottom: 2px solid $greyPeakBlue;
  }

  .btn-link:hover {
    text-decoration: none;
    border-bottom-color: #507D9E;
  }

  .btn {
    @include btn-sm;
  }
  
  @include media-breakpoint-up(sm) {
  }
  
  @include media-breakpoint-up(md) {
    p {
      @include copy-l-regular;
    }

    .btn {
      @include btn-lg;
    }

    .btn-link {
      @include copy-l-bold;
      border-bottom-width: 3px;
    }

    .form-field {
      position: relative;
      padding: 1rem .875rem;
  
      label {
        @include copy-l-bold;
        color: $lowPriorityGrey;
      }
  
      label + input.form-control {
        padding: 0;
      }
  
      label + input.form-control {
        height: 2.6875rem;
      }
    }
  }
  
  @include media-breakpoint-up(lg) {
  }
}
