<div class="backdrop">
  <div>
    <div *ngIf="maximizedScene; let scene" class="maximized-scene">
      <div (click)="onToggle(scene)" class="scene">
        <i *ngIf="!scene.isMaximized" class="scene__icon peakicon peakicon-maximize"></i>
        <div class="scene__name">{{scene.name}}</div>
        <div class="scene__desc">{{scene.desc}}&nbsp;</div>
      </div>
      <div *ngIf="scene.isMaximized && scene.gps" class="scene-map" [style.background-image]="scene.mapUrl(752, 290)|cssUrl"></div>
      <div *ngIf="scene.isMaximized" class="scene-details">
        <div class="d-flex">
          <div class="flex-grow-1">
            <div class="scene-details__timestamp">{{scene.createdAt|date:'h:mma - MMM d, yyyy'}}</div>
            <div class="scene-details__patients"><b>{{scene.patientsCount}}</b>&nbsp;<span i18n>Patients on Scene</span></div>
            <div class="scene-details__transported"><b>{{scene.priorityPatientsCounts[5]}}</b>&nbsp;<span i18n>Patients Transported</span></div>
            <div class="scene-details__responders"><b>{{scene.respondersCount}}</b>&nbsp;<span i18n>First responders on Scene</span></div>
          </div>
          <div class="scene-actions d-flex flex-column text-center">
            <button (click)="onJoin(scene)" type="button" class="btn btn-sm btn-primary mb-3" i18n>Arrived on Scene</button>
            <a (click)="onView(scene)" class="scene-actions__view" tabindex="0" i18n>View Scene</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul *ngIf="scenes.length > 1" class="scenes">
    <ng-container *ngFor="let scene of scenes">
      <li *ngIf="!scene.isMaximized" (click)="onToggle(scene)" class="scene">
        <i class="scene__icon peakicon peakicon-maximize"></i>
        <div class="scene__name">{{scene.name}}</div>
        <div class="scene__desc">{{scene.desc}}&nbsp;</div>
      </li>
    </ng-container>
  </ul>  
</div>
