<nav class="nav flex-column">
  <img class="logo" src="/images/logo-square-light.png" />
  <ng-container *ngIf="!scene">
    <a routerLink="/scenes" routerLinkActive="active">
      <i class="peakicon peakicon-scenes"></i>
      <span i18n>Previous Scenes</span>
    </a>
    <a *ngIf="user.hasRole('CONFIGURATION') || user.hasRole('REPORTING')">
      <i class="peakicon peakicon-agency"></i>
      <span i18n>Agency Info</span>
    </a>
    <a *ngIf="user.hasRole('PERSONNEL')" routerLink="/users" routerLinkActive="active">
      <i class="peakicon peakicon-users"></i>
      <span i18n>Users</span>
    </a>
    <a *ngIf="user.hasRole('REPORTING')">
      <img class="nemsis-logo" src="/images/nemsis-logo-square.png" />
      <span i18n>NEMSIS<br/>Submission</span>
    </a>
  </ng-container>
  <ng-container *ngIf="scene">
    <a [routerLink]="['/scenes', scene.id, 'overview']" routerLinkActive="active">
      <i class="peakicon peakicon-overview"></i>
      <span i18n>Scene Overview</span>
    </a>
    <a [routerLink]="['/scenes', scene.id, 'patients']" routerLinkActive="active">
      <i class="peakicon peakicon-list"></i>
      <span i18n>Patient List</span>
    </a>
    <a [routerLink]="['/scenes', scene.id, 'map']" routerLinkActive="active">
      <i class="peakicon peakicon-map"></i>
      <span i18n>Scene Map</span>
    </a>
  </ng-container>
</nav>
<a *ngIf="!scene" routerLink="/scenes/new">
  <img class="new-scene" src="/images/new-scene.png" />
  <span i18n>Start New<br/>Scene</span>
</a>
<a *ngIf="scene" [routerLink]="[{outlets: {modal: ['patients', 'scan']}}]" [preserveFragment]="true" queryParamsHandling="preserve">
  <img class="scan" src="/images/scan.png" />
  <span i18n>Scan Patient</span>
</a>
