@import '../../assets/css/variables';

:host {
  background: $greyPeakBlue;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 76px;
  height: auto;
  margin: 30px auto;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90px;
  color: white;
  @include copy-xs-bold;
  cursor: pointer;
  margin: 15px 0;
  border-radius: 5px;
}

a.active,
a:hover {
  color: white;
  text-decoration: none;
}

nav {
  align-items: center;
  a {
    height: 90px;
  }

  a.active,
  a:hover {
    background: #507d9e;
    box-shadow: inset 0px 5px 10px rgba(11, 95, 141, 0.2);
  }
}

.peakicon {
  font-size: 50px;
  margin-bottom: 1px;
}

.peakicon-agency {
  font-size: 47px;
}

.peakicon-users {
  font-size: 60px;
}

.nemsis-logo {
  width: 56px;
  height: auto;
  margin-bottom: 4px;
}

.new-scene,
.scan {
  width: 86px;
  height: auto;
  margin-bottom: 2px;
}
