version: '3'
services:
  db:
    image: postgis/postgis:11-3.0-alpine
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
  server:
    build: .
    image: peakresponse/peak-server
    command: bash -l -c "npm start"
    env_file:
      - .env
    environment:
      - PORT=3000
      - DATABASE_URL=postgres://postgres@db/app
    ports:
      - ${HOST_PORT:-3000}:3000
    depends_on:
      - db
    volumes:
      - ./public/uploads:/opt/node/app/public/uploads
