<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Edit Agency</h1>
</div>
<div class="d-block col-xl-6">
  <ul *ngIf="claimedAgencyId" class="nav">
    <li class="nav__item"><a class="nav__link nav__link--active" tabindex="0">Canonical</a></li>
    <li class="nav__item"><a class="nav__link" [routerLink]="['/agencies', claimedAgencyId]">Claimed</a></li>
  </ul>
  <ul *ngIf="canonicalAgencyId" class="nav">
    <li class="nav__item"><a class="nav__link" [routerLink]="['/agencies', canonicalAgencyId]">Canonical</a></li>
    <li class="nav__item"><a class="nav__link nav__link--active" tabindex="0">Claimed</a></li>
  </ul>
  <shared-form *ngIf="id" type="agencies" [id]="id" (load)="onLoad($event)">
    <ng-template let-record="record" let-error="error">
      <div *ngIf="states.length > 0" class="mb-3">
        <shared-select-field id="stateId" label="State" [source]="record" [target]="record" [error]="error">
          <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
        </shared-select-field>
      </div>
      <div class="mb-3">
        <shared-text-field id="nemsisVersion" label="NEMSIS Version" [source]="record" [target]="record" [error]="error"></shared-text-field>
      </div>
      <div class="mb-3">
        <shared-text-field id="stateDataSetVersion" label="State Data Set Version" [source]="record" [target]="record" [error]="error"></shared-text-field>
      </div>
      <div class="mb-3">
        <shared-text-field id="stateSchematronVersion" label="State Schematron Version" [source]="record" [target]="record" [error]="error"></shared-text-field>
      </div>
      <div class="mb-3">
        <shared-text-field id="stateUniqueId" label="State Unique Id" [source]="record" [target]="record" [error]="error"></shared-text-field>
      </div>
      <div class="mb-3">
        <shared-text-field id="number" label="Number" [source]="record" [target]="record" [error]="error"></shared-text-field>
      </div>
      <div class="mb-3">
        <shared-text-field id="name" label="Name" [source]="record" [target]="record" [error]="error"></shared-text-field>
      </div>
      <div *ngIf="record.isClaimed" class="mb-3">
        <shared-object-field id="psapId" label="PSAP" [source]="record" [target]="record" [error]="error" [objectFetchHandler]="onFetchPsap" [searchHandler]="onSearchPsap"></shared-object-field>
      </div>
      <div *ngIf="record.isClaimed" class="mb-3">
        <shared-text-field id="subdomain" label="Subdomain" [source]="record" [target]="record" [error]="error"></shared-text-field>
      </div>
      <div *ngIf="record.isClaimed" class="mb-3">
        <shared-text-field id="routedUrl" label="Routed URL" [source]="record" [target]="record" [error]="error"></shared-text-field>
      </div>
    </ng-template>
  </shared-form>
</div>
