<div class="container-fluid">
  <div class="row">  
    <nav class="col-md-3">
      <ul class="sidebar nav nav-pills flex-column">
        <li class="nav-item">
          <a [routerLink]="['/branding']" class="nav-link">
            Branding
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/buttons']" class="nav-link">
            Buttons
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/icons']" class="nav-link">
            Icons
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/inputs']" class="nav-link">
            Inputs
          </a>
        </li>
        <!-- <li>
          <a href="#" class="nav-link">
            Branding
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            Text
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            Object Styles
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            Colors
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            Icons
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            Map Components
          </a>
        </li>
        <li>
          <a href="#" class="nav-link">
            Elements
          </a>
        </li> -->
      </ul>
    </nav>
    <main role="main" class="col-md-9">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
