<h1>Buttons</h1>
<section>
  <h2>Chips</h2>
  <div class="mb-3">
    <button class="chip chip--sm chip--primary">Small</button>
    <button class="chip chip--sm chip--secondary ms-2">Small</button>
  </div>
  <div class="mb-3">
    <button class="chip chip--primary">Medium</button>
    <button class="chip chip--secondary ms-2">Medium</button>
  </div>
  <div class="mb-3">
    <button class="chip chip--lg chip--primary">Large</button>
    <button class="chip chip--lg chip--secondary ms-2">Large</button>
  </div>
</section>
<section>
  <h2>Small Buttons</h2>
  <div class="mb-3">
    <button class="btn btn--sm btn--primary">Label</button>
    <button class="btn btn--sm btn--danger ms-3">Label</button>
    <button class="btn btn--sm btn--secondary ms-2">Label</button>
    <a class="btn btn--sm btn--secondary--danger ms-2">Label</a>
    <button class="btn btn--sm btn--tertiary ms-2">Label</button>
  </div>
  <div class="mb-3">
    <button disabled class="btn btn--sm btn--primary">Label</button>
    <button disabled class="btn btn--sm btn--danger ms-3">Label</button>
    <button disabled class="btn btn--sm btn--secondary ms-2">Label</button>
    <button disabled class="btn btn--sm btn--tertiary ms-2">Label</button>
  </div>
</section>
<section>
  <h2>Medium Buttons</h2>
  <div class="mb-3">
    <button class="btn btn--primary">Label</button>
    <button class="btn btn--danger ms-3">Label</button>
    <button class="btn btn--secondary ms-3">Label</button>
    <button class="btn btn--tertiary ms-3">Label</button>
  </div>
  <div class="mb-3">
    <button disabled class="btn btn--primary">Label</button>
    <button disabled class="btn btn--danger ms-3">Label</button>
    <button disabled class="btn btn--secondary ms-3">Label</button>
    <button disabled class="btn btn--tertiary ms-3">Label</button>
  </div>
</section>
<section>
  <h2>Large Buttons</h2>
  <div class="mb-3">
    <button class="btn btn--lg btn--primary">Label</button>
    <button class="btn btn--lg btn--danger ms-3">Label</button>
    <button class="btn btn--lg btn--secondary ms-3">Label</button>
    <button class="btn btn--lg btn--tertiary ms-3">Label</button>
  </div>
  <div class="mb-3">
    <button disabled class="btn btn--lg btn--primary">Label</button>
    <button disabled class="btn btn--lg btn--danger ms-3">Label</button>
    <button disabled class="btn btn--lg btn--secondary ms-3">Label</button>
    <button disabled class="btn btn--lg btn--tertiary ms-3">Label</button>
  </div>
</section>
