<h1>Buttons</h1>
<section>
  <h2>Small Buttons</h2>
  <div class="mb-3">
    <button class="btn btn--sm btn--primary">Label</button>
  </div>
  <div class="mb-3">
    <button class="btn btn--sm btn--secondary">Label</button>
  </div>
  <div class="mb-3">
    <button class="btn btn--sm btn--tertiary">Label</button>
  </div>
</section>
<section>
  <h2>Medium Buttons</h2>
  <div class="mb-3">
    <button class="btn btn--primary">Label</button>
  </div>
  <div class="mb-3">
    <button class="btn btn--secondary">Label</button>
  </div>
  <div class="mb-3">
    <button class="btn btn--tertiary">Label</button>
  </div>
</section>
<section>
  <h2>Large Buttons</h2>
  <div class="mb-3">
    <button class="btn btn--lg btn--primary">Label</button>
  </div>
  <div class="mb-3">
    <button class="btn btn--lg btn--secondary">Label</button>
  </div>
  <div class="mb-3">
    <button class="btn btn--lg btn--tertiary">Label</button>
  </div>
</section>
