<h1>Icons</h1>
<section>
  <h2>Icon/24px</h2>
  <div class="mb-3">
    <i class="pr-icon pr-icon-24-chevron-down"></i>
    <i class="pr-icon pr-icon-24-clock"></i>
    <i class="pr-icon pr-icon-24-exit"></i>
    <i class="pr-icon pr-icon-24-search"></i>
  </div>
  <h2>Icon/40px</h2>
  <div class="mb-3">
    <i class="pr-icon pr-icon-40-record-play"></i>
    <i class="pr-icon pr-icon-40-record-stop"></i>
  </div>
</section>
<section>
  <h2>Loaders</h2>
  <div class="mb-3">
    <shared-loader></shared-loader>
  </div>
</section>
