<div class="mb-3">
  <shared-select-field id="type" label="Type" [source]="record" [target]="record.id ? null : record" [error]="error">
    <option value="1701001">Assisted Living Facility</option>
    <option value="1701003">Clinic</option>
    <option value="1701017">Dialysis Center</option>
    <option value="1701019">Diagnostic Services</option>
    <option value="1701033">Drug and/or Alcohol Rehabilitation Facility</option>
    <option value="1701021">Freestanding Emergency Department</option>
    <option value="1701005">Hospital</option>
    <option value="1701015">Mental Health Facility</option>
    <option value="1701023">Morgue/Mortuary</option>
    <option value="1701007">Nursing Home</option>
    <option value="1701013">Physical Rehabilitation Facility</option>
    <option value="1701025">Police/Jail</option>
    <option value="1701035">Skilled Nursing Facility</option>
    <option value="1701011">Urgent Care</option>
    <option value="1701027">Other EMS Responder (air)</option>
    <option value="1701029">Other EMS Responder (ground)</option>
    <option value="1701031">Other Recurring Care Center</option>
    <option value="1701009">Other</option>
  </shared-select-field>
</div>
<div class="mb-3">
  <shared-text-field id="name" label="Name" [source]="record" [target]="record" [error]="error"></shared-text-field>
</div>
<div class="mb-3">
  <shared-text-field id="locationCode" label="Location Code" [source]="record" [target]="record" [error]="error"></shared-text-field>
</div>
<div class="mb-3">
  <shared-text-field id="primaryDesignation" label="Designation" [source]="record" [target]="record" [error]="error"></shared-text-field>
</div>
<div class="mb-3">
  <shared-text-field
    id="primaryNationalProviderId"
    label="National Provider Id"
    [source]="record"
    [target]="record"
    [error]="error"></shared-text-field>
</div>
<div class="mb-3">
  <shared-text-field id="unit" label="Room, Suite, or Apartment" [source]="record" [target]="record" [error]="error"></shared-text-field>
</div>
<div class="mb-3">
  <shared-text-field id="address" label="Street Address" [source]="record" [target]="record" [error]="error"></shared-text-field>
</div>
<div class="mb-3">
  <shared-search-city-field id="cityId" label="City" [source]="record" [target]="record" [error]="error"></shared-search-city-field>
</div>
<div class="mb-3">
  <shared-search-county-field id="countyId" label="County" [source]="record" [target]="record" [error]="error"></shared-search-county-field>
</div>
<div class="mb-3">
  <shared-select-state-field id="stateId" label="State" [source]="record" [target]="record" [error]="error"></shared-select-state-field>
</div>
<div class="mb-3">
  <shared-text-field id="zip" label="ZIP Code" [source]="record" [target]="record" [error]="error"></shared-text-field>
</div>
<div class="mb-3">
  <shared-select-field id="country" label="Country" [source]="record" [target]="record" [error]="error">
    <option value="CA">Canada</option>
    <option value="MX">Mexico</option>
    <option value="US">United States</option>
  </shared-select-field>
</div>
<div class="mb-3">
  <shared-text-field id="primaryPhone" label="Phone Number" [source]="record" [target]="record" [error]="error"></shared-text-field>
</div>
