<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2" i18n>Edit PSAP</h1>
</div>
<shared-form *ngIf="id" type="psaps" [id]="id" class="d-block col-xl-6">
  <ng-template let-record="record" let-error="error">
    <div class="mb-3">
      <shared-text-field id="name" label="Name" [source]="record" [error]="error"></shared-text-field>
    </div>
    <div class="mb-3">
      <shared-text-field id="stateId" label="State ID" [source]="record" [error]="error"></shared-text-field>
    </div>
    <div class="mb-3">
      <shared-text-field id="countyId" label="County ID" [source]="record" [error]="error"></shared-text-field>
    </div>
    <div class="mb-3">
      <shared-text-field id="cityId" label="City ID" [source]="record" [error]="error"></shared-text-field>
    </div>
    <div class="mb-3">
      <shared-text-field id="change" label="Change Code" [source]="record" [error]="error"></shared-text-field>
    </div>
    <div class="mb-3">
      <shared-text-field id="comments" label="Comments" [rows]="2" [source]="record" [error]="error"></shared-text-field>
    </div>
    <div class="mb-3">
      <shared-text-field id="modifiedOn" label="Modified On" [source]="record" [error]="error"></shared-text-field>
    </div>
  </ng-template>
</shared-form>
