<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2" i18n>Edit PSAP Dispatcher</h1>
</div>
<shared-form type="dispatchers" [id]="id" (update)="onUpdate()" class="d-block col-xl-6">
  <ng-template let-record="record" let-error="error">
    <div class="mb-3">
      <shared-text-field id="user" label="User" [isPlaintext]="true" [source]="{user: record.user?.firstName + ' ' + record.user?.lastName + '  &lt;' + record.user?.email + '&gt;'}"></shared-text-field>
    </div>
    <div class="mb-3">
      <shared-text-field id="callSign" label="Call Sign" [source]="record" [target]="record" [error]="error"></shared-text-field>
    </div>
  </ng-template>
</shared-form>
