<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
  <h1 class="h2">{{sectionHeader}}</h1>
  <a *ngIf="isGrouped && !isEditing" (click)="onNew()" class="btn btn--sm btn--secondary">New</a>
</div>
<div class="row">
  <div *ngIf="sectionSchema && sectionData && isGrouped && !isEditing" class="col">
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let column of sectionColumns" [class]="column.class">{{column.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of sectionData" (click)="onSelect(record)">
            <td><i *ngIf="record.isDraft || record.draft" class="fas fa-exclamation-triangle"></i></td>
            <td *ngFor="let column of sectionColumns">
              {{(record.data|get:column.attr)?._text}}
            </td>
          </tr>
          <tr *ngIf="sectionData.length === 0"><td [attr.colspan]="sectionColumns.length + 1">No records yet.</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-container *ngIf="sectionSchema && sectionData && (!isGrouped || isEditing)">
    <div class="col-md-6">
      <ul *ngIf="record.draft" class="nav">
        <li class="nav__item"><a tabIndex="0" class="nav__link" [class.nav__link--active]="isEditingDraft" (click)="isEditingDraft = true">Draft</a></li>
        <li class="nav__item"><a tabIndex="0" class="nav__link" [class.nav__link--active]="!isEditingDraft" (click)="isEditingDraft = false">Current</a></li>
      </ul>
      <form (submit)="onSubmit()">
        <div *ngIf="isSavedErrorFree" class="alert alert-success">
          Draft saved!
        </div>
        <div *ngIf="error && (isNewRecord || isEditingDraft)" class="alert alert-danger">
          <shared-error [error]="error"></shared-error>
        </div>
        <fieldset [disabled]="isLoading">
          <ng-container *ngFor="let element of childElements">
            <shared-xsd-form-group [element]="element" [data]="isEditingDraft ? record.draft.data : record.data" [error]="isNewRecord || isEditingDraft ? error : null"></shared-xsd-form-group>
          </ng-container>
          <div class="d-flex justify-content-between mb-3">
            <button *ngIf="isNewRecord || isEditingDraft || !record.draft" type="submit" class="btn btn--primary">Save Draft</button>
            <button *ngIf="isEditingDraft" (click)="onDeleteDraft()" type="button" class="btn btn--danger">Delete Draft</button>
          </div>
        </fieldset>
      </form>
    </div>
  </ng-container>
  <div class="col" *ngIf="isLoading">
    <shared-loader></shared-loader>
  </div>
</div>
