<router-outlet></router-outlet>
<admin-schema-list #list
                   name="Configurations" 
                   [class.d-none]="route.firstChild"
                   [keyPath]="['demographics', 'configurations']"
                   schemaPath="/nemsis/xsd/dConfiguration_v3.json"
                   [schemaColumns]="sectionColumns">
  <ng-container class="admin-schema-list-header">
    <button (click)="onImport()" class="btn btn--sm btn--secondary ms-3">Import from State Data Set</button>
  </ng-container>
</admin-schema-list>
