<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
  <h1 class="h2">Dashboard</h1>
</div>
<form>
  <h4>Current</h4>
  <div class="row mb-5">
    <div class="col-lg-4">
      <div class="array-field array-field--noclear">
        <div class="form-field form-field--noclear form-field--nonempty">
          <label>Settings</label>
          <div class="array-field__item">
            <span>Version:</span> {{agency?.version?.name|version}}
          </div>
          <div class="array-field__item">
            <span>NEMSIS:</span> {{agency?.version?.nemsisVersion}}
          </div>
          <div class="array-field__item">
            <span>State Data Set:</span> {{agency?.version?.stateDataSet?.displayVersion|version}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="agency?.draftVersion">
    <h4>Draft</h4>
    <div class="row">
      <div class="col-lg-4">
        <div class="array-field array-field--noclear mb-3">
          <div class="form-field form-field--noclear form-field--nonempty">
            <label>Settings</label>
            <div class="array-field__item">
              <span>Version:</span> {{agency?.draftVersion?.name|version}}
            </div>
            <div class="array-field__item">
              <span>NEMSIS:</span> {{agency?.draftVersion?.nemsisVersion}}
            </div>
            <div class="array-field__item">
              <span>State Data Set:</span> {{agency?.draftVersion?.stateDataSet?.displayVersion|version}}
            </div>
          </div>
        </div>
        <button type="button" class="btn btn--primary me-3" [routerLink]="['/demographics/versions', agency.draftVersion.id, 'preview']">Preview</button>
        <button type="button" class="btn btn--primary">Validate</button>
      </div>
    </div>
  </div>
</form>
