<shared-modal
  #modal
  i18n-confirmLabel
  [confirmLabel]="status ? 'Send New Invitations' : 'Send Invitations'"
  i18n-dismissLabel
  dismissLabel="Close"
  (confirm)="onSendInvitations()"
  [disabled]="isLoading || isPolling"
>
  <div class="modal-body">
    <shared-loader *ngIf="isLoading"></shared-loader>
    <ng-container *ngIf="!isLoading">
      <ng-container *ngIf="status">
        <p>Invitations sent: {{ status.sent }}</p>
        <p *ngIf="status.failed.length">
          The following email addresses could not be sent,<br />please check if they have been already used:<br /><br />
          <span *ngFor="let email of status.failed">{{ email }}<br /></span>
        </p>
      </ng-container>
      <ng-container *ngIf="!status">
        <fieldset [disabled]="isPolling">
          <p i18n>Enter email addresses separated by commas, or one per line.</p>
          <shared-text-field [rows]="4" id="emails" [source]="invitations" [target]="invitations"></shared-text-field>
        </fieldset>
      </ng-container>
    </ng-container>
  </div>
  <div class="modal-footer">
    <shared-loader *ngIf="isPolling"></shared-loader>
  </div>
</shared-modal>
