<form (submit)="onSubmit($event)">
  <fieldset [disabled]="isLoading">
    <div class="mb-3">
      Your new password must be between 8 and 30 characters. It must include at least one uppercase letter, one lowercase letter, one number and one symbol.
    </div>
    <div class="mb-3">
      <shared-text-field type="password" id="password" label="New Password" placeholder="********" [source]="data" [target]="data" [error]="error">
        <ng-template><div class="valid-feedback" *ngIf="success">{{success.message}}</div></ng-template>
      </shared-text-field>
    </div>
    <div class="d-flex flex-column align-items-center">
      <button type="submit" [disabled]="!isValid" class="btn btn--primary w-50 mb-3">Submit</button>
      <a class="mb-2" routerLink="/login">Sign In</a>
    </div>
  </fieldset>
</form>
