<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">{{state?.name}} NEMSIS Configuration</h1>
</div>
<form>
  <h4>Repository</h4>
  <div class="mb-3">
    <button [disabled]="!repo || isRepoInitializing" (click)="onRepoInit()" type="button" class="btn btn--sm btn--primary me-3" i18n>
      <span *ngIf="!(repo?.initialized ?? false)">Initialize Repository</span>
      <span *ngIf="repo?.initialized">Refresh Repository</span>
    </button>
    <span *ngIf="!repo || isRepoInitializing"><shared-loader></shared-loader> Please wait...</span>
  </div>
  <h4>Data Sets</h4>
  <div *ngIf="state?.status?.message" class="row">
    <div class="col-lg-6">
      <div class="alert alert-info">
        <div class="d-flex justify-content-between align-items-center">
          <div><shared-loader *ngIf="state.status?.code === 202"></shared-loader> {{state.status?.message}}</div>
          <i (click)="onCancelDataSetImport()" class="far fa-times-circle"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xl-4">
      <div class="mb-3">
        <div class="array-field array-field--noclear">
          <div class="form-field form-field--noclear form-field--nonempty">
            <label>Repository Data Sets</label>
            <div *ngFor="let version of repo?.dataSetVersions" class="array-field__item d-flex justify-content-between align-items-center">
              {{version|version}}
              <span>
                <i *ngIf="isDataSetInstalled(version); let dataSet" (click)="onDataSetImport(dataSet.id)" class="fas fa-file-import clickable me-3"></i>
                <i *ngIf="isDataSetInstalled(version)" class="fas fa-check-circle text-success"></i>
                <i *ngIf="!isDataSetInstalled(version) && !isDataSetInstalling" (click)="onDataSetInstall(version)" class="far fa-circle clickable"></i>
                <shared-loader *ngIf="!isDataSetInstalled(version) && isDataSetInstalling === version"></shared-loader>
              </span>
            </div>
            <div *ngIf="(repo?.dataSetVersions.length ?? 0) == 0" class="array-field__item">
              <span *ngIf="!(repo?.initialized ?? false)">Repository not initialized</span>
              <span *ngIf="repo?.initialized">None</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-4">
      <div class="mb-3">
        <div class="array-field array-field--noclear mb-3">
          <div *ngIf="externalDataSets; let dataSets" class="form-field form-field--noclear form-field--nonempty">
            <label>External Data Sets</label>
            <div *ngFor="let dataSet of dataSets" class="array-field__item d-flex justify-content-between align-items-center">
              {{dataSet.displayVersion|version}}
              <i (click)="onDataSetImport(dataSet.id)" class="fas fa-file-import"></i>
            </div>
            <div *ngIf="(dataSets.length ?? 0) == 0" class="array-field__item">
              <span>None</span>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn--sm btn--primary">Import Data Set</button>
      </div>
    </div>
  </div>
  <h4>Schematrons</h4>
  <div class="row">
    <div class="col-lg-6 col-xl-4">
      <div class="mb-3">
        <div class="array-field array-field--noclear">
          <div class="form-field form-field--noclear form-field--nonempty">
            <label>Repository Schematrons</label>
            <div *ngFor="let version of repo?.schematronVersions" class="array-field__item">
              {{version|version}}
            </div>
            <div *ngIf="(repo?.schematronVersions.length ?? 0) == 0" class="array-field__item">
              <span *ngIf="!(repo?.initialized ?? false)">Repository not initialized</span>
              <span *ngIf="repo?.initialized">None</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-4">
      <div class="mb-3">
        <div class="array-field array-field--noclear mb-3">
          <div *ngIf="externalSchematrons; let schematrons" class="form-field form-field--noclear form-field--nonempty">
            <label>External Schematrons</label>
            <div *ngFor="let schematron of schematrons" class="array-field__item">
              {{schematron.version|version}}
            </div>
            <div *ngIf="(schematrons.length ?? 0) == 0" class="array-field__item">
              <span>None</span>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn--sm btn--primary">Import Schematron</button>
      </div>
    </div>
  </div>
</form>
