<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">{{state?.name}} NEMSIS Configuration</h1>
</div>
<form>
  <h4>Repository</h4>
  <div class="mb-3">
    <button [disabled]="!repo || isRepoInitializing" (click)="onRepoInit()" type="button" class="btn btn--sm btn--primary me-3" i18n>
      <span *ngIf="!(repo?.initialized ?? false)">Initialize Repository</span>
      <span *ngIf="repo?.initialized">Refresh Repository</span>
    </button>
    <span *ngIf="!repo || isRepoInitializing"><shared-loader></shared-loader> Please wait...</span>
  </div>
  <h4>Data Sets</h4>
  <div *ngIf="isDataSetImporting?.status?.message" class="row">
    <div class="col-lg-6">
      <div class="alert alert-info">
        <div class="d-flex justify-content-between align-items-center">
          <div><shared-loader *ngIf="isDataSetImporting.status?.code === 202"></shared-loader> {{isDataSetImporting.status?.message}}</div>
          <i (click)="onCancelDataSetImport()" class="far fa-times-circle clickable"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xl-4">
      <div class="mb-3">
        <div class="array-field array-field--noclear">
          <div class="form-field form-field--noclear form-field--nonempty">
            <label>Repository Data Sets</label>
            <div *ngFor="let version of repo?.dataSetVersions" class="array-field__item d-flex justify-content-between align-items-center">
              {{version|version}}
              <span>
                <ng-container *ngIf="isDataSetInstalled(version); let dataSet"><shared-loader *ngIf="dataSet.id === isDataSetImporting?.id && isDataSetImporting.status?.code === 202" class="me-3"></shared-loader></ng-container>
                <i *ngIf="!isDataSetImporting && isDataSetInstalled(version); let dataSet" (click)="onDataSetImport(dataSet)" class="fas fa-file-import clickable me-3"></i>
                <i *ngIf="isDataSetInstalled(version)" class="fas fa-check-circle text-success"></i>
                <i *ngIf="!isDataSetInstalled(version) && !isDataSetInstalling" (click)="onDataSetInstall(version)" class="far fa-circle clickable"></i>
                <shared-loader *ngIf="!isDataSetInstalled(version) && isDataSetInstalling === version"></shared-loader>
              </span>
            </div>
            <div *ngIf="(repo?.dataSetVersions.length ?? 0) == 0" class="array-field__item">
              <span *ngIf="!(repo?.initialized ?? false)">Repository not initialized</span>
              <span *ngIf="repo?.initialized">None</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-4">
      <div class="mb-3">
        <div class="array-field array-field--noclear mb-3">
          <div *ngIf="externalDataSets; let dataSets" class="form-field form-field--noclear form-field--nonempty">
            <label>External Data Sets</label>
            <div *ngFor="let dataSet of dataSets" class="array-field__item d-flex justify-content-between align-items-center">
              <div>
                {{dataSet.fileName}}<br />
                <span class="small">{{dataSet.displayVersion|version}}</span>
              </div>
              <shared-loader *ngIf="dataSet.id === isDataSetImporting?.id && isDataSetImporting.status?.code === 202"></shared-loader>
              <i *ngIf="!isDataSetImporting" (click)="onDataSetImport(dataSet)" (click)="onDataSetImport(dataSet)" class="fas fa-file-import clickable"></i>
            </div>
            <div *ngIf="(dataSets.length ?? 0) == 0" class="array-field__item">
              <span>None</span>
            </div>
          </div>
        </div>
        <shared-dropzone (onDrop)="onExternalDataSetDrop()" (onUploaded)="onExternalDataSetUploaded($event)" [multiple]="false" [disabled]="isExternalDataSetInstalling">
          <button [disabled]="isExternalDataSetInstalling" type="button" class="btn btn--sm btn--primary me-3">Import Data Set</button>
          <shared-loader *ngIf="isExternalDataSetInstalling"></shared-loader>
        </shared-dropzone>
      </div>
    </div>
  </div>
  <h4>Schematrons</h4>
  <div class="row">
    <div class="col-lg-6 col-xl-4">
      <div class="mb-5">
        <div class="array-field array-field--noclear">
          <div class="form-field form-field--noclear form-field--nonempty">
            <label>Repository DEM Schematrons</label>
            <div *ngFor="let version of repo?.demSchematronVersions" class="array-field__item d-flex justify-content-between align-items-center">
              {{version|version}}
              <span>
                <i *ngIf="isSchematronInstalled(version)" class="fas fa-check-circle text-success"></i>
                <i *ngIf="!isSchematronInstalled(version) && !isSchematronInstalling" (click)="onSchematronInstall(version)" class="far fa-circle clickable"></i>
                <shared-loader *ngIf="!isSchematronInstalled(version) && isSchematronInstalling === version"></shared-loader>
              </span>
            </div>
            <div *ngIf="(repo?.demSchematronVersions.length ?? 0) == 0" class="array-field__item">
              <span *ngIf="!(repo?.initialized ?? false)">Repository not initialized</span>
              <span *ngIf="repo?.initialized">None</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-4">
      <div class="mb-5">
        <div class="array-field array-field--noclear mb-3">
          <div *ngIf="externalDemSchematrons; let schematrons" class="form-field form-field--noclear form-field--nonempty">
            <label>External DEM Schematrons</label>
            <div *ngFor="let schematron of schematrons" class="array-field__item">
              {{schematron.version|version}}
            </div>
            <div *ngIf="(schematrons.length ?? 0) == 0" class="array-field__item">
              <span>None</span>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn--sm btn--primary">Import DEM Schematron</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xl-4">
      <div class="mb-5">
        <div class="array-field array-field--noclear">
          <div class="form-field form-field--noclear form-field--nonempty">
            <label>Repository EMS Schematrons</label>
            <div *ngFor="let version of repo?.emsSchematronVersions" class="array-field__item d-flex justify-content-between align-items-center">
              {{version|version}}
              <span>
                <i *ngIf="isSchematronInstalled(version)" class="fas fa-check-circle text-success"></i>
                <i *ngIf="!isSchematronInstalled(version) && !isSchematronInstalling" (click)="onSchematronInstall(version)" class="far fa-circle clickable"></i>
                <shared-loader *ngIf="!isSchematronInstalled(version) && isSchematronInstalling === version"></shared-loader>
              </span>
            </div>
            <div *ngIf="(repo?.emsSchematronVersions.length ?? 0) == 0" class="array-field__item">
              <span *ngIf="!(repo?.initialized ?? false)">Repository not initialized</span>
              <span *ngIf="repo?.initialized">None</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-4">
      <div class="mb-5">
        <div class="array-field array-field--noclear mb-3">
          <div *ngIf="externalEmsSchematrons; let schematrons" class="form-field form-field--noclear form-field--nonempty">
            <label>External EMS Schematrons</label>
            <div *ngFor="let schematron of schematrons" class="array-field__item">
              {{schematron.version|version}}
            </div>
            <div *ngIf="(schematrons.length ?? 0) == 0" class="array-field__item">
              <span>None</span>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn--sm btn--primary">Import EMS Schematron</button>
      </div>
    </div>
  </div>
</form>
