version: 2.1

orbs:
  docker: circleci/docker@1.4.0

jobs:
  build-and-test:
    docker:
      - image: cimg/base:2020.01
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
          version: 20.10.2
      - run: echo "$DOCKER_PASSWORD" | docker login --username $DOCKER_LOGIN --password-stdin
      - run: docker-compose -f docker-compose.test.yml up -d db
      - run: docker-compose -f docker-compose.test.yml run server bin/pg_wait
      - run: docker-compose -f docker-compose.test.yml run server npx sequelize db:create --env=test
      - run: docker-compose -f docker-compose.test.yml run server npx sequelize db:migrate --env=test
      - run: docker-compose -f docker-compose.test.yml run server npm run ci
      - when:
          condition:
            not:
              equal: [master, << pipeline.git.branch >>]
          steps:
            - run: docker tag peakresponse/peak-server:latest peakresponse/peak-server:$CIRCLE_BRANCH
            - run: docker push peakresponse/peak-server:$CIRCLE_BRANCH
      - when:
          condition:
            equal: [master, << pipeline.git.branch >>]
          steps:
            - run: docker push peakresponse/peak-server:latest
workflows:
  test:
    jobs:
      - build-and-test:
          context: Development
