<router-outlet></router-outlet>
<div [class.d-none]="route.firstChild">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Lists</h1>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr class="list">
          <th class="col-4">Id</th>
          <th>Fields</th>
        </tr>
      </thead>
      <shared-list type="lists">
        <ng-template let-records="records" let-record="record">
          <tr [routerLink]="['/lists', record.id]">
            <td>{{ record.id }}</td>
            <td>{{ record.fields }}</td>
          </tr>
        </ng-template>
      </shared-list>
    </table>
  </div>
</div>
