<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Edit Agency</h1>
</div>
<div class="row">
  <app-shared-form *ngIf="id" type="agencies" [id]="id" class="col-md-3">
    <ng-template let-record="record" let-error="error">
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="record.name" [class.is-invalid]="error.messages|error:'name'" type="text" class="form-control" id="name" name="name">
        <div *ngIf="error.messages|error:'name' as error" class="invalid-feedback">{{error.message}}</div>
      </div>
    </ng-template>
  </app-shared-form>
</div>
