<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">New Agency</h1>
</div>
<div class="row">
  <div class="col-md-3">
    <app-shared-form (create)="onCreate($event)" type="agencies">
      <ng-template let-record="record" let-error="error">
        <div class="form-group">
          <label for="stateId">State</label>
          <select [(ngModel)]="record.stateId" [class.is-invalid]="error.messages|error:'stateId'" id="stateId" name="stateId" class="form-control">
            <option *ngFor="let state of states" [ngValue]="state.id">{{state.name}}</option>
          </select>
          <div *ngIf="error.messages|error:'stateId' as error" class="invalid-feedback">{{error.message}}</div>
        </div>
        <div class="form-group">
          <label for="stateUniqueId">State Unique Id</label>
          <input [(ngModel)]="record.stateUniqueId" [class.is-invalid]="error.messages|error:'stateUniqueId'" type="text" class="form-control" id="stateUniqueId" name="stateUniqueId" />
          <div *ngIf="error.messages|error:'stateUniqueId' as error" class="invalid-feedback">{{error.message}}</div>
        </div>
        <div class="form-group">
          <label for="number">Number</label>
          <input [(ngModel)]="record.number" [class.is-invalid]="error.messages|error:'number'" type="text" class="form-control" id="number" name="number" />
          <div *ngIf="error.messages|error:'number' as error" class="invalid-feedback">{{error.message}}</div>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input [(ngModel)]="record.name" [class.is-invalid]="error.messages|error:'name'" type="text" class="form-control" id="name" name="name" />
          <div *ngIf="error.messages|error:'name' as error" class="invalid-feedback">{{error.message}}</div>
        </div>
      </ng-template>
    </app-shared-form>
  </div>
</div>
