html,
body {
  font-family: 'Nunito Sans', sans-serif;
}

html {
  height: 100%;
}

.toast-container {
  position: absolute;
  top: 0;
  right: 0;
}

body {
  background-color: #e5e5e5;
}

body.signed-out {
  background: linear-gradient(
      121.55deg,
      #c1ddd8 21.73%,
      #65b3da 52.52%,
      #46a5db 77.84%,
      #2f7eaa 97.61%
    )
    fixed;
  min-height: 100%;
  padding-bottom: 4rem;
}

body.signed-out .toast-container {
  z-index: 1;
  top: 40%;
  right: 50%;
  transform: translateX(50%);
}

body.signed-out .toast-body {
  font-size: 1.25rem;
}

body.signed-out .logo {
  display: block;
  width: 176px;
  height: 176px;
  margin: 54px auto 50px auto;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body.signed-out .card {
  padding: 60px;
  border: 0;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.25rem;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #46a5db;
  text-align: center;
  margin-bottom: 0.9375em;
}

a {
  color: #46a5db;
}

a:hover {
  color: #2f7eaa;
}

a[href] {
  color: #4f4f4f;
  text-decoration: underline;
}

a[href]:hover {
  color: #46a5db;
  cursor: pointer;
}

a[tabindex] {
  cursor: pointer;
}

body.signed-out .card .form-group {
  margin-bottom: 1.5rem;
}

body.signed-out .card .form-control {
  font-size: 1.375rem;
  background-color: #e5ecef;
  border: 0;
  border-radius: 0;
  color: #4f4f4f;
  height: calc(1.5em + 3rem);
  padding: 1.5rem 0.875rem;
}

.btn {
  font-size: 1.125rem;
  line-height: 1;
  height: 2.375rem;
  padding: 0.625rem 1.5rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 500px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body.signed-out .card .btn {
  font-size: 1.75rem;
  font-weight: 800;
  height: calc(1.5em + 1.75rem);
  padding: 0.875rem 0.875rem;
  text-transform: uppercase;
  border-radius: 500px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #46a5db;
  border-color: #46a5db;
}

.btn-primary:hover {
  background-color: #46a5db;
  border-color: #46a5db;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #2f7eaa;
  border-color: #2f7eaa;
}
