html,
body {
  background-color: white;
}

/* Navbar */

.navbar-brand {
  position: relative;
}

.navbar-brand img {
  transition-duration: 0.2s;
  width: 167px;
  height: 46px;
}

.navbar {
  background-color: rgba(28, 93, 130, 0.7);
}

.navbar.top {
  transition-duration: 0.2s;
  background-color: transparent;
}

.navbar.top .container {
  align-items: flex-start;
  padding-top: 2rem;
}

.navbar.top .navbar-brand img {
  position: absolute;
  width: 231px;
  height: 61px;
  top: -9px;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav .nav-link {
  color: #f1f5f8;
  border-bottom: 4px solid transparent;
  font-size: 0.875rem;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-nav .nav-link.active {
  border-bottom: 4px solid #d0e9f7;
}

.navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}

.navbar-nav .btn-outline-primary {
  background: #46a5db;
  color: #f1f5f8;
  border-color: #f1f5f8;
  margin: 0 1.5rem;
  min-width: 7.5rem;
}

.navbar-nav .btn-outline-primary:hover {
  background: #f1f5f8;
  color: #46a5db;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
}

.navbar-toggler {
  border-color: #f5f7f9;
  color: #f5f7f9;
}

/* Footer */

footer {
  background-image: url('/images/footer.jpg');
  background-size: cover;
  background-position: top center;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 3em 0;
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 0.75rem;
  text-align: center;
}

footer img {
  width: 231px;
  height: 61px;
  margin-bottom: 1rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4rem;
  color: white;
}

footer ul li {
  margin-bottom: 1em;
}

footer a {
  color: white;
}

footer a:hover {
  color: #46a5db;
}

#footer_icons {
  margin-top: 2rem;
}

#footer_icons li {
  display: inline-block;
  margin: 0 0.875rem;
}

#footer_icons img {
  width: 45px;
  height: 45px;
}

@media (max-width: 576px) {
  #footer_icons li {
    margin: 0 0.5rem;
  }

  #footer_icons img {
    width: 36px;
    height: 36px;
  }
}

/* NaTriage redirect content */

#redirect .modal-content {
  background-color: #f1f5f8;
  text-align: center;
}

#redirect .modal-content .modal-body {
  margin: 4rem 0;
}

#redirect .modal-content p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

#redirect img[src$='logo-dark.png'] {
  width: 100%;
  max-width: 508px;
  height: auto;
  margin-bottom: 2rem;
}

/* Home content */

form {
  margin-top: 2rem;
}

p.caption {
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: center;
  margin: 0 auto 2rem;
}

section {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.bg-alternate {
  background-color: #f1f5f8;
}

section .row {
  margin-bottom: 3rem;
}

#home {
  background-image: url('/images/home.jpg');
  background-size: cover;
  background-position: top center;
  min-height: 600px;
}

#home .container {
  position: relative;
}

#home__valprop {
  position: relative;
  top: 10rem;
  right: 0;
  color: #f1f5f8;
}

@media (min-width: 576px) {
  #home__valprop {
    position: absolute;
    max-width: 380px;
  }
}

#home__valprop h1 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.6875rem;
  margin-bottom: 1rem;
}

#home__valprop p {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  color: #f1f5f8;
}

#home__valprop .btn-outline-primary {
  border-color: #f1f5f8;
  color: #f1f5f8;
  width: min-content;
}

#home__valprop .btn-outline-primary:hover {
  background-color: #f1f5f8;
  color: #6894b5;
}

#home__cta {
  display: flex;
  width: 260px;
  justify-content: space-between;
  align-items: baseline;
}

#home__cta i {
  font-size: 1.25rem;
}

#home__credit {
  font-size: 0.625rem;
  font-weight: 600;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #507d9e;
}

.solution__screenshot {
  padding: 2rem 0;
}

.solution__screenshot .row {
  margin-bottom: 0;
  align-items: center;
}

.solution__screenshot p,
.solution__screenshot h3 {
  text-align: center;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#story {
  padding-bottom: 0;
}

#story__bios {
  margin-top: 2rem;
}

img[src$='home1.jpg'] {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 695px;
  height: auto;
}

img[src$='home2.jpg'] {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 582px;
  height: auto;
}

img[src$='home3.jpg'] {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 525px;
  height: auto;
}

img[src$='home4.jpg'] {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 582px;
  height: auto;
}

img[src$='home5.jpg'] {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 525px;
  height: auto;
}

img[src$='home6.png'] {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  height: auto;
}

img[src*='bio-'] {
  display: block;
  margin: 0 0 1rem auto;
  width: 100%;
  max-width: 215px;
  height: auto;
}

@media (max-width: 992px) {
  img[src*='bio-'] {
    margin-left: auto;
    margin-right: auto;
  }
}
