/* GLOBAL STYLES
-------------------------------------------------- */

body {
  position: relative;
  font-family: 'Barlow', sans-serif;
  color: #2F7EAA;
}

footer {
  background-image: url('/images/footer.jpg');
  background-size: cover;
  background-position: top center;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 3em 0;
  font-size: .625rem;
  font-weight: 600;
  line-height: .75rem;
  text-align: center;
}

footer img {
  width: 243px;
  height: 67px;
  margin-bottom: 1rem;
}

footer ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4rem;
  color: white;
}

footer ul li {
  margin-bottom: 1em;
}

footer a {
  color: white;
}

footer a:hover {
  color: #46A5DB;
}


a {
  color: #46A5DB;
}
a:hover {
  color: #1C5D82;
}

h2 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #6894B5;
}

h3 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.6875rem;
  margin-bottom: 2rem;
  color: #474747;
}

h4 {
  color: #3D5058;
  font-weight: bold;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4rem;
}

h4 span {
  font-weight: normal;
}

p {
  font-size: .875rem;
  line-height: 1.0625rem;
  margin-bottom: 1rem;
  color: #474747;
}

p.caption {
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: center;
  margin: 0 auto 2rem;
}

.btn {
  border-radius: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;  
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #6894B5;
  border-color: #6894B5;
  color: #FFFFFF;
}

.btn-primary:hover {
  background-color: #1C5D82;
  border-color: #1C5D82;
}

.btn-outline-primary {
  border-color: #6894B5;
  color: #6894B5;
  border-width: 3px;
}

.btn-outline-primary:hover {
  background-color: #6894B5;
  border-color: #6894B5;
}

form {
  margin-top: 2rem;
}

form .btn-primary {
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.form-field {
  background-color: white;
  padding: .5rem .625rem;
  box-shadow: 0px .375rem .625rem rgba(118, 140, 151, 0.15);
}

.form-field label {
  font-size: .875rem;
  line-height: 1.0625rem;
  font-weight: 600;
  color: #94A6AD;
  margin-bottom: 0.25rem;
}

.form-field .form-control {
  border-radius: 0;
  border: 0;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  font-weight: 600;
  color: #3D5058;
  padding: 0;
}

.form-field input.form-control {
  height: calc(1.8125rem + .5625rem);
}

.form-field .form-control:focus {
  box-shadow: none;
}

.form-check {
  margin-bottom: .5rem;
  padding-left: 1.75rem;
}

.form-check-input {
  display: inline-block;
  opacity: 0;
  width: 22px;
}

.form-check-label {
  display: inline-block;
  position: relative;
  font-size: .875rem;
  line-height: 1.5rem;
  color: #3D5058;
}

.form-check-label:before, .form-check-label::after {
  position: absolute;
  display: inline-block;
  left: -1.75rem;
  top: 0;
}

.form-check-label::before {
  content: "";

  top: 2px;
  height: 22px;
  width: 22px;
  background-color: white;

  border: 2px solid #6894B5;
  border-radius: 2px;
}

.form-check-input + .form-check-label::after {
  content: none;
}
.form-check-input:checked + .form-check-label::after {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  font-size: 1.125rem;
  font-weight: 900;  
  color: #6894B5;
  left: -1.625rem;
}

.navbar-brand {
  position: relative;
}

.navbar-brand img {
  transition-duration: .2s;
  width: 167px;
  height: 46px;
}

.navbar {
  background-color: rgba(28, 93, 130, 0.7);
}

.navbar.top {
  transition-duration: .2s;
  background-color: transparent;
}

.navbar.top .container {
  align-items: flex-start;
  padding-top: 2rem;
}

.navbar.top .navbar-brand img {
  position: absolute;
  width: 243px;
  height: 67px;
  top: -9px;
}

.navbar-collapse {
  flex-grow: 0
}

.navbar-nav {
  align-items: center;
}

.navbar-nav .nav-link {
  color: #F1F5F8;
  border-bottom: 4px solid transparent;
  font-size: .875rem;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-nav .nav-link.active {
  border-bottom: 4px solid #D0E9F7;
}

.navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
}

.navbar-toggler {
  border-color: #F5F7F9;
  color: #F5F7F9;
}

section {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.bg-alternate {
  background-color: #F1F5F8;
}

section .row {
  margin-bottom: 3rem;
}

#home {
  background-image: url('/images/home.jpg');
  background-size: cover;
  background-position: top center;
  min-height: 600px;
}

#home .container {
  position: relative;
}

#home__valprop {
  position: relative;
  top: 10rem;
  right: 0;
  color: #F1F5F8
}

@media (min-width: 576px) {
  #home__valprop {
    position: absolute;
    max-width: 380px;
  }
}

#home__valprop h1 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.6875rem;
  margin-bottom: 1rem;
}

#home__valprop p {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;  
  margin-bottom: 1.5rem;
  color: #F1F5F8
}

#home__valprop .btn-outline-primary {
  border-color: #F1F5F8;
  color: #F1F5F8;
}

#home__valprop .btn-outline-primary:hover {
  background-color: #F1F5F8;
  color: #6894B5;
}

#home__cta {
  display: flex;
  width: 260px;
  justify-content: space-between;
  align-items: baseline;
}

#home__cta i {
  font-size: 1.25rem;
}

#home__credit {
  font-size: .625rem;
  font-weight: 600;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #507D9E;
}

.solution__screenshot {
  padding: 2rem 0;
}

.solution__screenshot .row {
  margin-bottom: 0;
  align-items: center;
}

.solution__screenshot p, .solution__screenshot h3 {
  text-align: center;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#story {
  padding-bottom: 0;
}

#story__bios {
  margin-top: 2rem;
}

img[src$="home1.jpg"] {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 695px;
  height: auto;
}

img[src$="home2.jpg"] {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 582px;
  height: auto;
}

img[src$="home3.jpg"] {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 525px;
  height: auto;
}

img[src$="home4.jpg"] {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 582px;
  height: auto;
}

img[src$="home5.jpg"] {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 525px;
  height: auto;
}

img[src$="home6.png"] {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  height: auto;
}

img[src*="bio-"] {
  display: block;
  margin: 0 0 1rem auto;
  width: 100%;
  max-width: 215px;
  height: auto;
}

@media(max-width: 992px) {
  img[src*="bio-"] {
    margin-left: auto;
    margin-right: auto;
  }
}

#redirect .modal-content {
  background-color: #F1F5F8;
  text-align: center;
}

#redirect .modal-content .modal-body {
  margin: 4rem 0;
}

#redirect .modal-content p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

#redirect img[src$="logo-dark.png"] {
  width: 100%;
  max-width: 508px;
  height: auto;
  margin-bottom: 2rem;
}
