<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Edit Client</h1>
</div>
<shared-form *ngIf="id" type="clients" [id]="id" (delete)="onDelete()" class="d-block col-xl-6">
  <ng-template let-record="record" let-error="error">
    <admin-client-form [record]="record" [error]="error"></admin-client-form>
    <div class="mb-3">
      <shared-text-field id="clientId" label="Client ID" [source]="record" [error]="error"></shared-text-field>
    </div>
    <div class="mb-3">
      <div class="form-field-group">
        <shared-text-field id="clientSecret" label="Client Secret" [source]="record" [error]="error"></shared-text-field>
        <button (click)="onGenerate(record)" type="button" class="btn btn--secondary">Regenerate</button>
      </div>
    </div>
  </ng-template>
</shared-form>
