<nav class="sidebar">
  <ul class="sidebar__nav">
    <h4 class="sidebar__heading">User Guides</h4>
    <li>
      <a routerLink="/getting-started" routerLinkActive="sidebar__item--active" class="sidebar__item">Getting Started</a>
    </li>
    <li>
      <a routerLink="/daily" routerLinkActive="sidebar__item--active" class="sidebar__item">Run Reporting</a>
    </li>
    <li>
      <a routerLink="/mci" routerLinkActive="sidebar__item--active" class="sidebar__item">MCIs</a>
    </li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<div *ngIf="((notification.messages$ | async)?.length ?? 0) > 0" class="notifications">
  <ngb-toast
    class="notifications__toast"
    *ngFor="let message of notification.messages$ | async"
    [delay]="message.delay"
    (hidden)="notification.pop(message.id)">
    {{ message.text }}
  </ngb-toast>
</div>
