@import '../../../assets/css/variables';

.modal {
  background: white;
  display: flex;
  flex-direction: column;
}

.modal__navigation {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 4.5rem;
  padding: 0 1.5rem;

  .back {
    display: flex;
    align-items: center;
    @include copy-l-bold;
    color: $mainGrey;
    cursor: pointer;
    .peakicon {
      font-size: 2.5rem;
      margin: 0 0.5rem 0 2rem;
    }
  }
}

.modal__bar {
  @include copy-l-regular;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  padding: 0 3.5rem;
  background-color: $greyPeakBlue;
  color: white;
  height: 3.5rem;

  a {
    cursor: pointer;
  }
}

.modal__action {
  font-weight: 600;
}

.modal__header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5rem 3.5rem 0;
  height: 23.75rem;
  background-color: $bgBackground;
}

.modal__body {
  background-color: $bgBackground;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1.5rem 3.5rem;
}

.scene__name {
  @include copy-l-bold;
  color: $lowPriorityGrey;
}

.scene__elapsed-time {
  @include copy-m-regular;
}
