@import '../../../assets/css/variables';

.patient__priority {
  display: flex;
  align-items: center;
  z-index: 0;
}

.peakicon-remove {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn-priority {
  flex: 1;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  min-width: 10rem;
  padding: 1.375rem 2rem 1.4325rem;
}

.patient__priority--noneditable .btn-priority {
  margin-left: 0;
  flex: 1;
}

.patient__actions {
  flex: 5;
  .btn-outline-primary {
    margin: 0 0.5rem;
  }
}

.btn-priority--selected {
  transform: scale(1.25);
  box-shadow: $cardSelectedShadow;
}

.btn-priority--0 {
  background-color: $immediateRed;
  color: white;
  margin-left: 0;
}

.btn-priority--1 {
  background-color: $delayedYellow;
  color: $mainGrey;
}

.btn-priority--2 {
  background-color: $minimalGreen;
  color: $mainGrey;
}

.btn-priority--3 {
  background-color: $expectGrey;
  color: $mainGrey;
}

.btn-priority--4 {
  background-color: $deadBlack;
  color: white;
}

.btn-priority--5 {
  background-color: $peakBlue;
  color: white;
  margin-right: 0;
}

.btn-record {
  background-color: $peakBlue;
  border-color: $peakBlue;
  box-shadow: $buttonShadow;
  color: white;
  min-width: 21.875rem;
  position: relative;

  &:hover {
    background-color: $darkPeakBlue;
    border-color: $darkPeakBlue;
  }
}

.peakicon-record {
  position: absolute;
  left: 3rem;
  font-size: 2rem;
}

.patient__pin {
  @include copy-xl-bold;
  color: $mainGrey;
}

.patient__updated {
  color: $lowPriorityGrey;
}

.patient__photo {
  flex-shrink: 0;
  width: 7.5rem;
  height: 7.5rem;
  background-size: cover;
  background-position: center center;
  border-radius: 4rem;
  background-color: $greyPeakBlue;
  color: white;
  margin-right: 2.25rem;
  overflow: hidden;
  text-align: center;
  z-index: 1;

  .peakicon-user {
    position: relative;
    top: 1.5rem;
    font-size: 6rem;
  }
}

.patient__age {
  flex: 2;
  margin-right: 0.625rem;
}

.patient__gender {
  flex: 2;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.patient__firstName {
  flex: 4;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.patient__lastName {
  flex: 4;
  margin-left: 0.625rem;
}

.patient__name {
  @include copy-xl-bold;
  color: $mainGrey;
  margin-bottom: 0.5rem;
  text-transform: none;
}

.patient__actions {
  display: flex;
  justify-content: space-between;

  .btn-outline-primary {
    margin-right: 0.75rem;
  }
}

.patient--0 {
  .modal__bar,
  .patient__photo {
    background-color: $immediateRed;
  }
  .modal__header {
    background-color: $lightImmediateRed;
  }
}

.patient--1 {
  .modal__bar,
  .patient__photo {
    background-color: $delayedYellow;
  }
  .modal__header {
    background-color: $lightDelayedYellow;
  }
}

.patient--2 {
  .modal__bar,
  .patient__photo {
    background-color: $minimalGreen;
  }
  .modal__header {
    background-color: $lightMinimalGreen;
  }
}

.patient--3 {
  .modal__bar,
  .patient__photo {
    background-color: $expectGrey;
  }
  .modal__header {
    background-color: $lightExpectGrey;
  }
}

.patient--4 {
  .modal__bar,
  .patient__photo {
    background-color: $deadBlack;
  }
  .modal__header {
    background-color: $lightDeadBlack;
  }
}

.patient--5 {
  .modal__bar,
  .patient__photo {
    background-color: $peakBlue;
  }
  .modal__header {
    background-color: $lightPeakBlue;
  }
}

.observation {
  background: white;
  border-radius: 0.3125rem;
  box-shadow: $cardShadow;
  padding: 0.5rem 0.75rem 1rem;
  margin-bottom: 0.5rem;
}

.observation__header {
  @include copy-xs-bold;
  color: $lowPriorityGrey;
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

shared-audio {
  margin-right: 0.5rem;
}

.observation__timestamps {
  @include copy-s-regular;
  color: $greyPeakBlue;
}

.observation__text {
  @include copy-s-bold;
  color: $mainGrey;
}
