@import '../../../assets/css/variables';

h2 {
  @include copy-l-bold;
  text-transform: none;
  color: $mainGrey;
  margin-bottom: 1rem;
}

.or {
  @include copy-xl-bold;
  text-align: center;
  text-transform: uppercase;
  color: $lowPriorityGrey;
  margin: 4rem 0;
}

.form-control {
  @include copy-xl-bold;
  background-color: white;
  border-radius: 0;
  box-shadow: $cardShadow;
  padding: 1rem;
  height: calc(2.6875rem + 2rem);
}
