<div class="modal">
  <div class="modal__navigation">
    <div *ngIf="scene.isActive" class="scene">
      <h1 class="scene__name">{{(scene.attributes$|async).name}} <span class="scene__elapsed-time">{{scene.elapsedTime$|async}}</span></h1>
    </div>
  </div>
  <div class="modal__bar">
    <a (click)="onCancel()" i18n>Close</a>
  </div>
  <div class="modal__body">
    <div class="row">
      <div class="col-lg-5">
        <h2 i18n>Scan Patient Tag</h2>
        <zxing-scanner
          [device]="selectedDevice" (camerasFound)="onCamerasFound($event)"
          (scanSuccess)="onScanSuccess($event)">
        </zxing-scanner>
        <select [(ngModel)]="selectedDevice" id="devices" name="devices" class="custom-select">
          <option *ngFor="let device of devices" [ngValue]="device">{{device.label}}</option>
        </select>
      </div>
      <div class="col-lg-2">
        <div class="or" i18n>or</div>
      </div>
      <div class="col-lg-5">
        <h2 i18n>Enter Tag Code</h2>
        <form (submit)="onSubmit()">
          <fieldset [disabled]="isLoading">
            <div class="form-group">
              <input [(ngModel)]="pin" id="pin" name="pin" type="number" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-sm btn-primary" i18n>Search</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
