<%- include('../layout/_header.html.ejs') %>
<h1>Pending Request to Join</h1>
<p>Hi <%= firstName %>,</p>
<p>Thanks for requesting to join the <%= agencyName %> on Peak Response. We’ve sent your request to your agency’s admin team and you should hear back shortly.</p>
<p>Cheers,<br />
The Peak Response Team</p>
<p><small>If you did not submit a request, please disregard this email.</small></p>
<%- include('../layout/_footer.html.ejs') %>
