// Bootstrap variable overrides- must come before import of variables below
$font-family-sans-serif: 'Barlow', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-weight-semibold: 600;

$h1-font-size: 3rem;
$h2-font-size: 2.25rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 0.875rem;
$h6-font-size: 0.675rem;

@mixin h3 {
  @include font-size($h3-font-size);
  line-height: 2rem;
}

@mixin h3-semibold {
  @include h3;
  font-weight: $font-weight-semibold;
}

@mixin h4 {
  @include font-size($h4-font-size);
  line-height: 1.75rem;
}

@mixin h4-semibold {
  @include h4;
  font-weight: $font-weight-semibold;
}

@mixin h5 {
  @include font-size($h5-font-size);
  line-height: 1.125rem;
}

@mixin h5-bold {
  @include h5;
  font-weight: $font-weight-semibold;
}

$headings-font-weight: bold;

$base-000: white;
$base-100: #f1f5f8;
$base-300: #cfdde3;
$base-500: #7e9ca9;
$base-800: #2f4a56;
$bases: (
  '000': $base-000,
  '100': $base-100,
  '300': $base-300,
  '500': $base-500,
  '800': $base-800,
);

$brand-primary-100: #e9f6fe;
$brand-primary-200: #d0e9f6;
$brand-primary-300: #add7ef;
$brand-primary-500: #46a5db;
$brand-primary-600: #2381b6;
$brand-primary-700: #0d5a86;
$brand-primary-900: #013d5e;
$brand-primaries: (
  '100': $brand-primary-100,
  '200': $brand-primary-200,
  '300': $brand-primary-300,
  '500': $brand-primary-500,
  '600': $brand-primary-600,
  '700': $brand-primary-700,
  '900': $brand-primary-900,
);

$brand-secondary-300: #ffeddf;
$brand-secondary-400: #fed2b1;
$brand-secondary-500: #ee924f;
$brand-secondary-800: #d7600a;
$brand-secondaries: (
  '300': $brand-secondary-300,
  '400': $brand-secondary-400,
  '500': $brand-secondary-500,
  '800': $brand-secondary-800,
);

// Configuration
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

// Layout & components
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
// @import "~bootstrap/scss/images";
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import '~bootstrap/scss/nav';
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/offcanvas";
// @import "~bootstrap/scss/placeholders";

// Helpers
@import '~bootstrap/scss/helpers';

// Utilities
@import '~bootstrap/scss/utilities/api';

[class^='pr-icon-24-'],
[class*=' pr-icon-24-'] {
  display: inline-block;
  font-size: 1.5rem;
}

.form-field {
  border: 2px solid $brand-primary-300;
  border-radius: 0.5rem;
  position: relative;

  label {
    @include h4-semibold;
    margin: 0.375rem 0.875rem 0;
    color: $base-500;
  }

  input {
    @include h3-semibold;
    background-color: white;
    border: 0;
    color: $base-800;
    margin: 0 0.875rem 0.375rem;
    padding: 0;
    &::placeholder,
    &:disabled {
      color: $base-300;
    }
    &:focus {
      outline: none;
    }
  }
}

.form-field--disabled {
  border-color: $base-500;
}

.form-field--editing {
  &.form-field--nonempty {
    &::after {
      display: block;
      position: absolute;
      bottom: 0.125rem;
      right: 0.5rem;
      background: transparent
        url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.29289 17.2929C4.90237 17.6834 4.90237 18.3166 5.29289 18.7071C5.68342 19.0976 6.31658 19.0976 6.70711 18.7071L5.29289 17.2929ZM18.7071 6.70711C19.0976 6.31658 19.0976 5.68342 18.7071 5.29289C18.3166 4.90237 17.6834 4.90237 17.2929 5.29289L18.7071 6.70711ZM6.70711 18.7071L18.7071 6.70711L17.2929 5.29289L5.29289 17.2929L6.70711 18.7071Z' fill='%232F4A56'/%3E%3Cpath d='M6.70711 5.29289C6.31658 4.90237 5.68342 4.90237 5.29289 5.29289C4.90237 5.68342 4.90237 6.31658 5.29289 6.70711L6.70711 5.29289ZM17.2929 18.7071C17.6834 19.0976 18.3166 19.0976 18.7071 18.7071C19.0976 18.3166 19.0976 17.6834 18.7071 17.2929L17.2929 18.7071ZM5.29289 6.70711L17.2929 18.7071L18.7071 17.2929L6.70711 5.29289L5.29289 6.70711Z' fill='%232F4A56'/%3E%3C/svg%3E%0A")
        no-repeat center center/1.5rem 1.5rem;
      content: '';
      cursor: pointer;
      height: 2.25rem;
      width: 2.25rem;
    }
  }
}

.form-field--focused {
  border-color: $brand-primary-500;
  box-shadow: 0 0 0 4px $brand-primary-200;

  label {
    color: $brand-primary-500;
  }
}

.form-field--invalid {
  border-color: $brand-secondary-500;
  &.form-field--focused {
    box-shadow: 0 0 0 4px $brand-secondary-400;
  }

  label {
    color: $brand-secondary-500;
  }
}

.invalid-feedback {
  @include h5-bold;
  color: $brand-secondary-500;
}

.form-field + .invalid-feedback {
  margin: 0.25rem 1rem 0;
}
