.patient {
  text-align: center;
}

.patient__portrait {
  margin: 1em auto;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-radius: 50%;
  border-width: 4px;
}

.patient--priority_0 .patient__portrait {
  border-color: red;
}

.patient--priority_1 .patient__portrait {
  border-color: yellow;
}

.patient--priority_2 .patient__portrait {
  border-color: green;
}

.patient--priority_3 .patient__portrait {
  border-color: gray;
}

.patient--priority_4 .patient__portrait {
  border-color: black;
}

.patient--priority_5 .patient__portrait {
  border-color: lightgray;
}
