.modal-backdrop {
  background-color: #F5F7F9;
  opacity: 0.8;
}

.close-container {
  pointer-events: auto;
  width: 100%;
}

.close {
  right: 0;
  font-size: 4rem;
  color: #46A5DB;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.modal-content {
  background-color: #E5ECEF;
  border: 0;
  border-radius: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: block;
  border-radius: 0;
  height: 11.125rem;

  h1 {
    margin: -1rem;
    padding-top: 2.25rem;
    padding-left: 12.625rem;
    height: 5.5rem;
    font-size: 2.25rem;
    text-align: left;
  }

  .btn-toolbar {
    position: absolute;
    top: .75rem;
    right: 1.5rem;
  }

  .btn {
    background-color: #F5F7F9;
    width: 4.5rem;
    height: 4rem;
    font-size: .75rem;
    color: #46A5DB;
    padding: 0;
    border-radius: 0.5rem;
    i {
      display: block;
      background-color: #E5ECEF;
      height: 2.5rem;
      line-height: 2.25rem;
      font-size: 1.75rem;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-top: .125rem solid #F5F7F9;
      border-left: .125rem solid #F5F7F9;
      border-right: .125rem solid #F5F7F9;
    }
    span {
      display: block;
      height: 1.5rem;
      line-height: 1.5rem;
    }
  }
}

.modal-body {
  .btn-toolbar {
    position: absolute;
    right: 2rem;
    bottom: 2rem;

    &> .btn + .btn {
      margin-left: .5rem;
    }
  }
}

.patient__data {
  padding-left: 12.625rem;
  margin-left: -1em;
  margin-top: 1.5em;
  margin-right: -1em;
  color: #4F4F4F;
}

.patient__name {
  font-size: 1.125rem;
  font-weight: 800;
}

.patient--immediate {
  .modal-header {
    background-color: rgba(237, 114, 66, .5);
    h1 {
      background-color: #ED7542;
      color: white;
    }
  }
}

.patient--delayed {
  .modal-header {
    background-color: #FBF8BD;
    h1 {
      background-color: #F3EC42;
      color: #4F4F4F;
    }
  }
}

.patient--minimal {
  .modal-header {
    background-color: #C5F9D3;
    h1 {
      background-color: #42ED72;
      color: #4F4F4F;
    }
  }
}

.patient--expectant {
  .modal-header {
    background-color: rgba(186, 191, 187, .5);
    h1 {
      background-color: #BABFBB;
      color: #4F4F4F;
    }
  }
}

.patient--dead {
  .modal-header {
    background-color: rgba(71, 71, 71, .5);
    h1 {
      background-color: #474747;
      color: white;
    }
  }
}

.patient__portrait {
  position: absolute;
  left: 3rem;
  top: 1.5rem;
  width: 8.125rem;
  height: 8.125rem;
  border: 5px solid white;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.card {
  border: 0;
  border-radius: .3125rem;
  margin-bottom: .5rem;
}

.card-header {
  background-color: #F5F7F9;
  border: 0;
  border-top-left-radius: .3125rem;
  border-top-right-radius: .3125rem;
  color: #4F4F4F;
  line-height: 1.375;
  padding: 0.4375rem 1.375rem;
}

.card-body {
  padding: 0.4375rem 1.375rem;
  dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  dt, dd {
    padding: .1875rem 0;
  }
  dt {
    font-weight: normal;
    color: #BDBDBD;
  }
  dd {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    color: #4F4F4F;
    margin: 0;
    app-shared-clear {
      width: 2rem;
      margin-left: .25rem;
      flex-shrink: 0;
    }
  }
  .break {
    flex-basis: 100%;
  }
}

.observation {
  position: relative;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: .5rem 1rem;
  background-color: #F5F7F9;
  color: #4F4F4F;
  margin-bottom: .5rem;
}

.observation__header {
  margin-bottom: 1rem;
}

.observation__playpause {
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
}

input {
  text-align: right;
  color: #4F4F4F;
}
