<router-outlet></router-outlet>
<div [class.d-none]="route.firstChild">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">States</h1>
    <a routerLink="/states/new" class="btn btn-sm btn-outline-secondary">New State</a>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="col-1">Code</th>
          <th>Name</th>
        </tr>
      </thead>
      <app-shared-list type="states">
        <ng-template let-record="record">
          <tr>
            <td><a [routerLink]="['/states', record.id]">{{record.code}}</a></td>
            <td><a [routerLink]="['/states', record.id]">{{record.name}}</a></td>
          </tr>
        </ng-template>
      </app-shared-list>
    </table>
  </div>
</div>
