<nav class="sidebar">
  <ul class="sidebar__nav">
    <li>
      <a routerLink="/agencies" routerLinkActive="sidebar__item--active" class="sidebar__item">Agencies</a>
    </li>
    <li>
      <a routerLink="/facilities" routerLinkActive="sidebar__item--active" class="sidebar__item">Facilities</a>
    </li>
    <li>
      <a routerLink="/states" routerLinkActive="sidebar__item--active" class="sidebar__item">States</a>
    </li>
    <li>
      <a routerLink="/users" routerLinkActive="sidebar__item--active" class="sidebar__item">Users</a>
    </li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
