<app-shared-wizard [isNextEnabled]="isValid" [isLoading]="isLoading"
    (back)="onBack()" [isBackVisible]="!isDone && !isFirstStep" 
    (cancel)="onCancel()" [isCancelVisible]="!isDone"
    (next)="onNext()" [isNextVisible]="!isDone"
    [isDoneVisible]="isDone" (done)="onCancel()">
  <ng-container class="wizard__header">
    <h1 *ngIf="!isDone && !exists" i18n>Tell us a little about yourself.</h1>
    <h1 *ngIf="!isDone && exists && !isFirstStep" i18n>Looks like {{agency?.name}} already has an account.</h1>
    <h1 *ngIf="!isDone && exists && isFirstStep" i18n>Create Your Account</h1>
    <h1 *ngIf="isDone && !isPending && !data.invitationCode" i18n>Great, looks like you were already invited.</h1>
    <h1 *ngIf="isDone && !isPending && data.invitationCode" i18n>You’re all signed up!</h1>
    <h1 *ngIf="isDone && isPending" i18n>We’ve sent a request to your agency administrator</h1>
  </ng-container>
  <form #form="ngForm" (submit)="onNext()" class="wizard__body">
    <div class="row narrow">
      <div class="col">
        <p *ngIf="!isDone && !exists" i18n>Since you’re setting up your agency’s account, you’ll automatically be made the owner/admin. Don’t worry, you can change ownership and add others as admin later.</p>
        <p *ngIf="!isDone && exists && !isFirstStep" i18n>Register with your work email to see if your agency has already invited you. If they haven’t, we’ll automatically send a request to your agency’s adiminstrator.</p>
        <p *ngIf="!isDone && exists && isFirstStep" i18n>You’re joining Peak Response as part of {{agency?.name}}.</p>
        <p *ngIf="isDone && !isPending" i18n>Check your inbox for a verification email and follow the link to log into your agency’s account.</p>
        <p *ngIf="isDone && isPending" i18n>Check your inbox for a confirmation of your request to join. You should hear back from your agency administrator about access shortly.</p>
      </div>
    </div>
    <ng-container *ngIf="!isDone">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="form-field" [class.is-invalid]="errors|error:'firstName'">
              <label for="firstName">First Name</label>
              <input #firstNameEl [(ngModel)]="data.firstName" required id="firstName" name="firstName" type="text" class="form-control" />
              <div *ngIf="errors|error:'firstName'; let error" class="invalid-feedback">{{error.message}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="form-field" [class.is-invalid]="errors|error:'lastName'">
              <label for="lastName">Last Name</label>
              <input [(ngModel)]="data.lastName" required id="lastName" name="lastName" type="text" class="form-control" />
              <div *ngIf="errors|error:'lastName'; let error" class="invalid-feedback">{{error.message}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="form-field" [class.is-invalid]="errors|error:'email'">
              <label for="email">Email</label>
              <input [(ngModel)]="data.email" required id="email" name="email" type="text" class="form-control" />
              <div *ngIf="errors|error:'email'; let error" class="invalid-feedback">{{error.message}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="form-field" [class.is-invalid]="errors|error:'position'">
              <label for="position">Position</label>
              <input [(ngModel)]="data.position" required id="position" name="position" type="text" class="form-control" />
              <div *ngIf="errors|error:'position'; let error" class="invalid-feedback">{{error.message}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <div class="form-field password" [class.is-invalid]="!isPasswordSecure || !isPasswordConfirmed || (errors|error:'password')">
              <label for="password">Password</label>
              <input [(ngModel)]="data.password" required id="password" name="password" type="password" class="form-control" />
              <div *ngIf="!isPasswordConfirmed" class="invalid-feedback">Passwords do not match</div>
              <div *ngIf="isPasswordConfirmed && (errors|error:'password'); let error" class="invalid-feedback">{{error.message}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-field" [class.is-invalid]="!isPasswordConfirmed || (errors|error:'password')">
              <label for="confirmPassword">Confirm Password</label>
              <input [(ngModel)]="data.confirmPassword" required id="confirmPassword" name="confirmPassword" type="password" class="form-control" />
              <div *ngIf="!isPasswordConfirmed" class="invalid-feedback">Passwords do not match</div>
              <div *ngIf="isPasswordConfirmed && (errors|error:'password'); let error" class="invalid-feedback">{{error.message}}</div>
            </div>
          </div>
        </div>
        <div class="form-text" [class.text-danger]="!isPasswordSecure || (errors|error:'password')" i18n>Password must be between 8 and 30 characters. Must include at least one uppercase letter, one lowercase letter, one number and one symbol.</div>
      </div>
      <input type="submit" class="d-none" value="Next" />  
    </ng-container>
  </form>
</app-shared-wizard>
