<app-shared-wizard [isNextVisible]="false" [isDoneVisible]="isDone" (done)="onDone()" [isSubmitVisible]="!isDone" [isSubmitEnabled]="isValid" (submit)="onSubmit()" [isBackVisible]="!isDone" (back)="onBack()" [isCancelVisible]="!isDone" (cancel)="onCancel()">
  <ng-container class="wizard__header">
    <ng-container *ngIf="!isDone">
      <h1 *ngIf="reason == 'state'" i18n>Sorry, we’re not yet available in your state.</h1>
      <h1 *ngIf="reason == 'agency'" i18n>Sorry, we couldn’t find your agency in the NEMSIS agency list.</h1>
    </ng-container>
    <ng-container *ngIf="isDone">
      <h1 i18n>Thanks for letting us know.</h1>
    </ng-container>
  </ng-container>
  <form #form="ngForm" (submit)="onSubmit()" class="wizard__body">
    <ng-container *ngIf="isDone">
      <div class="row narrow">
        <div class="col">
          <p i18n>We’ll be in touch when we have updates.</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!isDone">
      <div class="row narrow">
        <div class="col">
          <p *ngIf="reason == 'state'" i18n>Please fill out your details to let us know you’re interested and to be notified as soon as sign-ups are available.</p>
          <p *ngIf="reason == 'agency'" i18n>Please fill out your details to be notified as soon as we confirm and add your agency to the list.</p>
        </div>
      </div>
      <div class="row narrow">
        <div class="col-md-6">
          <div class="form-group">
            <label>State:</label> {{state}}
          </div>
        </div>
        <div class="col-md-6">
          <div *ngIf="reason == 'agency'" class="form-group">
            <label>Agency:</label> {{agency}}
          </div>
        </div>
      </div>
      <div class="row narrow">
        <div class="col-md-6">
          <div class="form-group">
            <div class="form-field" [class.is-invalid]="errors|error:'firstName'">
              <label for="firstName">First Name</label>
              <input #firstEl [(ngModel)]="data.firstName" required id="firstName" name="firstName" type="text" class="form-control" />
              <div *ngIf="errors|error:'firstName'; let error" class="invalid-feedback">{{error.message}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="form-field" [class.is-invalid]="errors|error:'lastName'">
              <label for="lastName">Last Name</label>
              <input [(ngModel)]="data.lastName" required id="lastName" name="lastName" type="text" class="form-control" />
              <div *ngIf="errors|error:'lastName'; let error" class="invalid-feedback">{{error.message}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row narrow">
        <div class="col">
          <div class="form-field" [class.is-invalid]="errors|error:'email'">
            <label for="email">Email</label>
            <input [(ngModel)]="data.email" required id="email" name="email" type="text" class="form-control" />
            <div *ngIf="errors|error:'email'; let error" class="invalid-feedback">{{error.message}}</div>
          </div>
        </div>
      </div>
      <input type="submit" class="d-none" value="Next" />
    </ng-container>
  </form>
</app-shared-wizard>
