<shared-field-input [id]="id" [name]="name" [label]="label" [placeholder]="placeholder" [source]="source" [target]="target" [propertyName]="propertyName" [isFocusable]="isFocusable">
  <ng-template let-isFocusable="isFocusable" let-isEditing="isEditing" let-source="source" let-target="target">
    <select [id]="derivedUnitsPropertyName" [name]="derivedUnitsPropertyName" class="custom-select ml-2"
      [class.form-control]="isFocusable && isEditing"
      [class.form-control-plaintext]="!isFocusable || !isEditing"
      [disabled]="!isFocusable || !isEditing"
      [(ngModel)]="unitsValue">
      <option value="2516009">y</option>
      <option value="2516007">mo</option>
      <option value="2516001">d</option>
      <option value="2516003">h</option>
      <option value="2516005">min</option>
    </select>
  </ng-template>
</shared-field-input>
