<div [class.form-field--editing]="isEditing" [class.form-field--empty]="!value || value == ''" [class.form-field--focused]="isFocused"
     [class.form-field--unconfirmed]="isUnconfirmed"
  (click)="onClick($event)" class="form-field form-field--confirmed">
  <label [for]="derivedId">{{label}}</label>
  <select [id]="derivedId" [name]="derivedName" class="custom-select"
    [class.form-control]="isFocusable && isEditing"
    [class.form-control-plaintext]="!isFocusable || !isEditing"
    [disabled]="!isFocusable || !isEditing"
    (focus)="onFocus($event)" (blur)="onBlur($event)"
    [(ngModel)]="value">
    <ng-content></ng-content>
  </select>
</div>
