.portrait-container {
  max-width: $portrait-width;
  margin: 0 auto;
  padding-right: $grid-gutter-width * 0.5;
  padding-left: $grid-gutter-width * 0.5;
}

main {
  padding: 0 $grid-gutter-width;
}
