.modal-open {
  overflow-y: hidden;
}

.modal-header {
  flex-direction: row-reverse;
  justify-content: space-between;
  button {
    margin-right: -1rem;
  }
}

.modal-body {
  @include h4-semibold;
  text-align: center;
}
