$grid-gutter-width: 1.25rem;

$font-family-sans-serif: 'Barlow', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-weight-semibold: 600;

$h1-font-size: 3rem;
$h2-font-size: 2.25rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 0.875rem;
$h6-font-size: 0.675rem;

$headings-font-weight: bold;

$base-000: white;
$base-100: #f1f5f8;
$base-300: #cfdde3;
$base-500: #7e9ca9;
$base-800: #2f4a56;
$bases: (
  '000': $base-000,
  '100': $base-100,
  '300': $base-300,
  '500': $base-500,
  '800': $base-800,
);

$brand-primary-100: #e9f6fe;
$brand-primary-200: #d0e9f6;
$brand-primary-300: #add7ef;
$brand-primary-500: #46a5db;
$brand-primary-600: #2381b6;
$brand-primary-700: #0d5a86;
$brand-primary-900: #013d5e;
$brand-primaries: (
  '100': $brand-primary-100,
  '200': $brand-primary-200,
  '300': $brand-primary-300,
  '500': $brand-primary-500,
  '600': $brand-primary-600,
  '700': $brand-primary-700,
  '900': $brand-primary-900,
);

$brand-secondary-300: #ffeddf;
$brand-secondary-400: #fed2b1;
$brand-secondary-500: #ee924f;
$brand-secondary-600: #e7721d;
$brand-secondary-800: #d7600a;
$brand-secondaries: (
  '300': $brand-secondary-300,
  '400': $brand-secondary-400,
  '500': $brand-secondary-500,
  '600': $brand-secondary-600,
  '800': $brand-secondary-800,
);

$body-color: $base-800;
$danger: $brand-secondary-500;

$btn-border-radius: 0.5rem;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-width: 0.1875rem;
$btn-font-size: 1.5rem;
$btn-font-size-lg: 2.25rem;
$btn-font-size-sm: 0.875rem;
$btn-font-weight: $font-weight-semibold;
$btn-padding-y: 1rem;
$btn-padding-x: 1.75rem;
$btn-padding-y-lg: 1.0625rem;
$btn-padding-x-lg: 1.9375rem;
$btn-padding-y-sm: 0.5rem;
$btn-padding-x-sm: 1.125rem;

$link-color: $brand-primary-500;

$gradient-brand-light: linear-gradient(101.47deg, #40a2d9 5.1%, #a1cee7 49.87%, #a4ddef 81.54%, #b7e5ee 109.93%);
$gradient-brand-medium: linear-gradient(101.47deg, #155184 5.1%, #3194c6 33.49%, #7fc4d2 81.54%, #a5deea 109.93%);
$gradient-brand-dark: linear-gradient(
  101.47deg,
  #155184 5.1%,
  rgba(49, 148, 198, 0.5) 34.58%,
  rgba(127, 196, 210, 0.25) 61.88%,
  rgba(127, 196, 210, 0) 109.93%
);
$gradient-brand-inverse: linear-gradient(101.47deg, #e6f0f5 17.11%, #65b3da 88.09%, #46a5db 109.92%);
$gradient-overlay: linear-gradient(180deg, #f1f5f8 -42.11%, rgba(246, 249, 251, 0.9) 42.52%, rgba(255, 255, 255, 0) 86.84%);

$shadow-10-15: 0px 6px 10px rgba(118, 140, 151, 0.15);
$shadow-40-40: 0px 10px 40px rgba(118, 140, 151, 0.4);
$shadow-tab: 0px -4px 10px rgba(118, 140, 151, 0.15);
$shadow-tab-selected: 0px -6px 15px rgba(118, 140, 151, 0.2);
$shadow-button: 0px 4px 5px rgba(0, 0, 0, 0.06), 0px 1px 10px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(84, 133, 156, 0.04);
$shadow-search: 0px 1px 2.96197px rgba(104, 148, 181, 0.1), 0px -2px 3.70246px rgba(104, 148, 181, 0.05),
  0px 1px 1.48098px rgba(84, 133, 156, 0.1);
$shadow-under: 0px 3px 6px rgba(98, 99, 99, 0.1);
$shadow-minimal: 2px 3px 54px rgba(118, 140, 151, 0.1);
$shadow-focused-recording: 0px 0px 0px 4px #fed2b1;
$shadow-focused-editing: 0px 0px 0px 4px #d0e9f7;

$primary: $brand-primary-500;
$danger: $brand-secondary-500;
$info: $brand-primary-500;

$alert-padding-x: $grid-gutter-width;
$alert-border-radius: 0.5rem;
$alert-border-width: 0;
$alert-bg-scale: 0;

$modal-content-border-width: 0;
$modal-content-border-radius: 1rem;
$modal-content-box-shadow-xs: $shadow-10-15;

$form-check-input-width: 2.5rem;
$form-check-min-height: 2.5rem;
$form-check-padding-start: $form-check-input-width + 0.5rem;
$form-check-margin-bottom: 0.5rem !default;
$form-check-input-border: 0.125rem solid $base-500;
$form-check-input-border-radius: 0.5rem;
$form-check-input-focus-border: $brand-primary-500;

$form-check-input-checked-color: $brand-primary-500;
$form-check-input-checked-bg-color: white;
$form-check-input-checked-border-color: $brand-primary-300;
$form-check-input-checked-bg-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='26' height='26' rx='4' fill='#{$form-check-input-checked-color}'/%3E%3C/svg%3E%0A");
// $form-check-radio-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>") !default;
