<div>
  isGrouped: {{ xsd?.isGrouped }}<br />
  rootElementName: {{ xsd?.rootElementName }}<br />
  groupElementName: {{ xsd?.groupElementName }}<br />
  basePath: {{ xsd?.basePath }}
</div>
<hr />
<div>{{ error.value }}: {{ error.message }} <a [routerLink]="['/demographics', error.section, error.id]">Fix</a></div>
<hr />
<div>
  {{ error | json }}
</div>
<shared-xsd-form-group
  *ngIf="xsd && record && stack && basePath && element && value"
  [xsd]="xsd"
  [record]="record"
  [stack]="stack"
  [basePath]="basePath"
  [element]="element"
  [data]="value"></shared-xsd-form-group>
<hr />
<hr />
