<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Version</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <ul class="nav">
      <li class="nav__item"><a tabIndex="0" class="nav__link" routerLink="..">Details</a></li>
      <li class="nav__item"><a tabIndex="0" class="nav__link" routerLink="../preview">XML</a></li>
      <li class="nav__item"><a tabIndex="0" class="nav__link nav__link--active">Validation</a></li>
    </ul>
  </div>
</div>
<div>
  <div *ngIf="validationErrors === undefined"><shared-loader></shared-loader></div>
  <div *ngIf="validationErrors === null">No validation errors!</div>
  <pre *ngIf="validationErrors">{{ validationErrors | json }}</pre>
</div>
