<app-dashboard-nav></app-dashboard-nav>
<app-dashboard-header [agency]="agency"></app-dashboard-header>
<app-dashboard-main>
  <app-shared-list [cls]="cls" type="scenes" class="scenes">
    <ng-template let-record="record">
      <div class="scene">
        <div class="scene__map">
          <img *ngIf="record.gps" [src]="record.mapUrl(250, 240)" />
        </div>
        <div class="scene__details">
          <div class="scene__header">
            <div class="d-flex justify-content-between align-items-baseline">
              <div class="scene__name">{{record.name}}</div>
              <div class="scene__createdAt">{{record.createdAt|date:'h:mma - MMM d yyyy'}}</div>
            </div>
            <div class="scene__desc">{{record.desc}}</div>
          </div>
          <div class="scene__body">
            <div class="align-self-start">
              <div class="scene__patients">{{record.patientsCount}} <span i18n>Patients Total</span></div>
              <div class="scene__responders">{{record.respondersCount}} <span i18n>First responders</span></div>
            </div>
            <div class="align-self-end">
              <button [routerLink]="['/scenes', record.id]" type="button" class="btn btn-sm btn-primary" i18n>View & Edit</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </app-shared-list>
</app-dashboard-main>
<app-dashboard-active-scenes></app-dashboard-active-scenes>
