@import '../../assets/css/variables';

.scenes {
  padding: 0.5rem 0;
}

.scene {
  margin: 2rem;
  background-color: white;
  border-radius: 0.3125rem;
  box-shadow: $cardShadow;
  color: $mainGrey;
  display: flex;
}

.scene__map {
  flex: none;
  width: 15.625rem;
  height: 15rem;
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  overflow: hidden;

  img {
    width: 15.625rem;
    height: 15rem;
  }
}

.scene__details {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.scene__header {
  flex: none;
  background-color: $lightPeakBlue;
  border-top-right-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem 1rem 2rem;
}

.scene__body {
  flex: auto;
  padding: 1rem 1rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.scene__name {
  @include copy-xl-bold;
}

.scene__desc {
  @include copy-m-bold;
}

.scene__createdAt {
  @include copy-l-bold;
  color: $greyPeakBlue;
}
