<app-dashboard-nav [scene]="scene"></app-dashboard-nav>
<app-dashboard-header [scene]="scene">
  <nav class="nav tabs">
    <a *ngFor="let tab of scene.stats$|async; index as i" (click)="filter(i)" [class]="'nav-link tab tab--' + i" [class.tab--active]="i==tabIndex">
      <span *ngIf="i==0" i18n>ALL</span>
      <span *ngIf="i==1" i18n>Immediate</span>
      <span *ngIf="i==2" i18n>Delayed</span>
      <span *ngIf="i==3" i18n>Minimal</span>
      <span *ngIf="i==4" i18n>Expectant</span>
      <span *ngIf="i==5" i18n>Dead</span>
      <span *ngIf="i==6" i18n>Transported</span>
      <span class="tab__total">{{tab.total}} <span i18n>ppl</span></span>
    </a>
  </nav>
</app-dashboard-header>
<app-dashboard-main>
  <div [class]="'tab-bar tab-bar--' + tabIndex"></div>
  <div class="toolbar">
    <div class="toolbar-item toolbar-item--sort">
      <label class="toolbar-item__label" for="sort" i18n>Sort&nbsp;By:</label>
      <select [ngModel]="scene.sort" (ngModelChange)="sort($event)" id="sort" name="sort" class="custom-select">
        <option value="az" i18n>Alphabetically</option>
        <option value="recent" i18n>Last Updated</option>
        <option value="longest" i18n>Longest Since Update</option>
        <option value="priority" i18n>Triage Priority</option>
      </select>
    </div>
    <div class="toolbar-item toolbar-item--search">
      <input id="search" name="search" i18n-placeholder placeholder="Search" type="text" class="form-control form-control--search" />
    </div>
  </div>
  <div class="patients">
    <ng-container *ngFor="let patient of scene.patients$|async">
      <app-dashboard-patient-row *ngIf="priorityMatch(patient)" (click)="show(patient)" [now]="now" [patient]="patient">
      </app-dashboard-patient-row>
    </ng-container>
  </div>
</app-dashboard-main>
<router-outlet name="modal"></router-outlet>
