<app-dashboard-nav></app-dashboard-nav>
<app-dashboard-header [agency]="agency" i18n-backLabel backLabel="Back to All Previous Scenes" backLink="/scenes"></app-dashboard-header>
<app-dashboard-main>
  <header class="summary">
    <h1 class="summary__name">{{(scene.attributes$|async).name}}</h1>
    <div class="summary__desc">{{(scene.attributes$|async).desc}}</div>
    <div class="summary__date">{{(scene.attributes$|async).createdAt|date:'h:mma - MMM d yyyy'}}</div>
  </header>
  <div class="patients">
    <h2 i18n>Patients ({{(scene.attributes$|async).patientsCount}})</h2>
    <ng-container *ngFor="let patient of scene.patients$|async">
      <app-dashboard-patient-row (click)="show(patient)" [patient]="patient" [now]="now"></app-dashboard-patient-row>
    </ng-container>
  </div>
  <div class="scene">
    <div class="row">
      <div class="col-lg-4">
        <h2 i18n>Scene Map</h2>
        <div class="scene__map" [style.background-image]="(scene.attributes$|async).mapUrl(640, 480)|cssUrl">
        </div>
      </div>
      <div class="col-lg-4">
        <h2 i18n>Scene Photos</h2>
      </div>
      <div class="col-lg-4">
        <h2 i18n>Notes</h2>
      </div>
    </div>
  </div>
</app-dashboard-main>
<router-outlet name="modal"></router-outlet>
