<app-dashboard-nav [scene]="scene"></app-dashboard-nav>
<app-dashboard-header [scene]="scene"></app-dashboard-header>
<app-dashboard-main>
  <agm-map #map [zoom]="16" (mapClick)="onMapClick($event)">
    <ng-container *ngFor="let patient of scene.patients$|async; trackBy: trackById">
      <agm-overlay *ngIf="patient.lat && patient.lng" [latitude]="+patient.lat" [longitude]="+patient.lng">
        <div [routerLink]="[{outlets: {modal: ['patients', patient.id]}}]" class="marker marker--patient" [style.background-image]="pinUrl(patient)|cssUrl"></div>
      </agm-overlay>
    </ng-container>
    <agm-overlay *ngFor="let pin of scene.pins$|async; trackBy: trackById" [latitude]="+pin.lat" [longitude]="+pin.lng">
      <div (click)="selectedPin = pin" [class]="'marker marker--pin marker--pin-' + (pin.type ? pin.type.toLowerCase() : 'other')"></div>
    </agm-overlay>
    <agm-overlay *ngIf="location" [latitude]="location.lat" [longitude]="location.lng">
      <div class="marker marker--me"></div>
    </agm-overlay>
    <agm-overlay *ngIf="newPin" [latitude]="newPin.lat" [longitude]="newPin.lng">
      <div [class]="'marker marker--pin marker--pin-' + (newPin.type ? newPin.type.toLowerCase() : 'other')"></div>
    </agm-overlay>
  </agm-map>
  <div *ngIf="selectedPin" class="pin-info">
    <div class="pin-info__icon">
      <i *ngIf="selectedPin.type=='MGS'" class="peakicon peakicon-star"></i>
      <i *ngIf="selectedPin.type=='TRIAGE'" class="peakicon peakicon-check-circle"></i>
      <i *ngIf="selectedPin.type=='TREATMENT'" class="peakicon peakicon-heart"></i>
      <i *ngIf="selectedPin.type=='STAGING'" class="peakicon peakicon-pause"></i>
      <i *ngIf="selectedPin.type=='OTHER'" class="peakicon peakicon-help-circle"></i>
    </div>
    <div class="pin-info__name">
      <!-- <i *ngIf="(scene.attributes$|async).incidentCommanderId == user.id && !isEditingSelectedPin" (click)="onSelectedPinEdit()" class="peakicon peakicon-edit"></i> -->
      <i *ngIf="(scene.attributes$|async).incidentCommanderId == user.id" (click)="onSelectedPinTrash()" class="peakicon peakicon-trash"></i>
      <span *ngIf="selectedPin.type=='MGS'" i18n>MGS Command</span>
      <span *ngIf="selectedPin.type=='TRIAGE'" i18n>Triage Area</span>
      <span *ngIf="selectedPin.type=='TREATMENT'" i18n>Treatment Area</span>
      <span *ngIf="selectedPin.type=='STAGING'" i18n>Staging Area</span>
      <span *ngIf="selectedPin.type=='OTHER'">{{selectedPin.name}}</span>
    </div>
    <div *ngIf="selectedPin.desc && !isEditingSelectedPin" class="pin-info__desc"><b i18n>Description:</b> {{selectedPin.desc}}</div>
    <form *ngIf="isEditingSelectedPin" (submit)="onSelectedPinSubmit()">
      <div *ngIf="selectedPin.type === 'OTHER'" class="form-group">
        <div class="form-field">
          <label for="name" i18n>Pin Name</label>
          <input [(ngModel)]="selectedPin.name" type="text" class="form-control" id="name" name="name" />
        </div>
      </div>
      <div *ngIf="selectedPin.type" class="form-group">
        <div class="form-field">
          <label for="desc" i18n>Description</label>
          <textarea [(ngModel)]="selectedPin.desc" class="form-control" id="desc" name="desc"></textarea>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button (click)="onSelectedPinCancel()" type="button" class="btn btn-xs btn-outline-primary" i18n>Cancel</button>
        <button [disabled]="!isSelectedPinValid" type="submit" class="btn btn-xs btn-primary" i18n>Save</button>
      </div>
    </form>
  </div>
  <div class="pin-dialog">
    <div class="pin-dialog__header">
      <i class="peakicon peakicon-pin"></i><span i18n>Drop Pin</span>
    </div>
    <div class="pin-dialog__body">
      <span *ngIf="!newPin" i18n>To drop a pin, tap or click on the map</span>
      <form *ngIf="newPin" (submit)="onNewPinSubmit()">
        <div class="form-group">
          <div class="pin-dialog__types">
            <button (click)="onNewPinSetType('MGS')" type="button" class="btn btn-xs btn-role btn-role--mgs" [class.btn-role--highlighted]="newPin.type=='MGS'" i18n>
              <i class="peakicon peakicon-star"></i><span i18n>MGS</span>
            </button>
            <button (click)="onNewPinSetType('TRIAGE')" type="button" class="btn btn-xs btn-role btn-role--triage" [class.btn-role--highlighted]="newPin.type=='TRIAGE'" i18n>
              <i class="peakicon peakicon-check-circle"></i><span i18n>Triage</span>
            </button>
            <button (click)="onNewPinSetType('TREATMENT')" type="button" class="btn btn-xs btn-role btn-role--treatment" [class.btn-role--highlighted]="newPin.type=='TREATMENT'" i18n>
              <i class="peakicon peakicon-heart"></i><span i18n>Treatment</span>
            </button>
          </div>
          <div class="pin-dialog__types">
            <button (click)="onNewPinSetType('STAGING')" type="button" class="btn btn-xs btn-role btn-role--staging" [class.btn-role--highlighted]="newPin.type=='STAGING'" i18n>
              <i class="peakicon peakicon-pause"></i><span i18n>Staging</span>
            </button>
            <button (click)="onNewPinSetType('OTHER')" type="button" class="btn btn-xs btn-role btn-role--other" [class.btn-role--highlighted]="newPin.type=='OTHER'" i18n>
              <i class="peakicon peakicon-help-circle"></i><span i18n>Other</span>
            </button>
            <div></div>
          </div>
        </div>
        <div *ngIf="newPin.type === 'OTHER'" class="form-group">
          <div class="form-field">
            <label for="name" i18n>Pin Name</label>
            <input [(ngModel)]="newPin.name" type="text" class="form-control" id="name" name="name" />
          </div>
        </div>
        <div *ngIf="newPin.type" class="form-group">
          <div class="form-field">
            <label for="desc" i18n>Description</label>
            <textarea [(ngModel)]="newPin.desc" class="form-control" id="desc" name="desc"></textarea>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button (click)="onNewPinCancel()" type="button" class="btn btn-xs btn-outline-primary" i18n>Cancel</button>
          <button [disabled]="!isNewPinValid" type="submit" class="btn btn-xs btn-primary" i18n>Save</button>
        </div>
      </form>
    </div>
  </div>
</app-dashboard-main>
<router-outlet name="modal"></router-outlet>
