<app-dashboard-nav [scene]="scene"></app-dashboard-nav>
<app-dashboard-header [scene]="scene"></app-dashboard-header>
<app-dashboard-main>
  <div class="overview">
    <div class="overview__details">
      <h1>{{(scene.attributes$|async).name}}</h1>
      <p class="overview__desc">{{(scene.attributes$|async).desc}}</p>
      <!-- <button type="button" class="btn btn-sm btn-primary mr-3" i18n>Transfer Command</button> -->
      <button *ngIf="(scene.attributes$|async).incidentCommanderId == user.id" (click)="closeConfirmation.open({centered: true, size: 'lg'})" type="button" class="btn btn-sm btn-warning" i18n>Close Scene</button>
      <button *ngIf="(scene.attributes$|async).incidentCommanderId != user.id && scene.isOnScene(user.id)" (click)="leaveConfirmation.open({centered: true, size: 'lg'})" type="button" class="btn btn-sm btn-warning" i18n>Leave Scene</button>
      <button *ngIf="(scene.attributes$|async).incidentCommanderId != user.id && !scene.isOnScene(user.id)" routerLink="/scenes" type="button" class="btn btn-sm btn-warning mr-3" i18n>Exit Scene</button>
      <button *ngIf="(scene.attributes$|async).incidentCommanderId != user.id && !scene.isOnScene(user.id)" (click)="scene.join().subscribe()" type="button" class="btn btn-sm btn-primary" i18n>Join Scene</button>
      <hr />
      <h3 i18n>Initial Observations from MGS</h3>
      <p>Approx # Patients: {{(scene.attributes$|async).approxPatients}}</p>
      <hr />
      <h3 i18n># Patients Recorded</h3>
      <p class="overview__patients-recorded">{{(scene.stats$|async)[0].total}}</p>
      <hr />
      <h3 i18n>Recorded Patient States</h3>
      <div class="priorities">
        <ng-container *ngFor="let tab of scene.stats$|async; index as i">
          <div *ngIf="i!=0" [class]="'priority priority-' + i">
            <div *ngIf="i==1" i18n>Immediate</div>
            <div *ngIf="i==2" i18n>Delayed</div>
            <div *ngIf="i==3" i18n>Minimal</div>
            <div *ngIf="i==4" i18n>Expectant</div>
            <div *ngIf="i==5" i18n>Dead</div>
            <div *ngIf="i==6" i18n>Transported</div>
            {{tab.total > 0 ? tab.total : '-'}}
          </div>
        </ng-container>
      </div>
      <!-- <hr />
      <div class="notes">
        <button type="button" class="btn btn-sm btn-outline-primary btn-add" i18n><i class="peakicon peakicon-note"></i>Add Note</button>
      </div>
      <hr />
      <div class="photos">
        <button type="button" class="btn btn-sm btn-outline-primary btn-add" i18n><i class="peakicon peakicon-camera"></i>Add Photo</button>
      </div> -->
    </div>
    <div class="overview__responders">
      <h2>{{(scene.responders$|async).length}} First Responders on Scene</h2>
      <!-- <div class="toolbar">
        <div class="toolbar-item toolbar-item--search">
          <input id="search" name="search" i18n-placeholder placeholder="Search" type="text" class="form-control form-control--search" />
        </div>
        <div class="toolbar-item toolbar-item--sort">
          <select id="sort" name="sort" class="custom-select">
            <option value="az" i18n>Alphabetically</option>
            <option value="arrivedAt" i18n>Time on Scene</option>
          </select>
        </div>
      </div> -->
      <ul class="responders">
        <li *ngFor="let responder of scene.responders$|async;" class="responder">
          <div class="responder__photo" [style.background-image]="responder.user.iconUrl|cssUrl">
            <i *ngIf="!responder.user.portraitUrl" class="peakicon peakicon-user"></i>
          </div>
          <div class="responder__details">
            <div class="responder__name">{{responder.user.firstName}} {{responder.user.lastName}}</div>
            <div class="row">
              <div class="col-sm-6">
                <div class="responder__position">{{responder.user.position}}</div>
                <div class="responder__agency">{{responder.agency.name}}</div>
              </div>
              <div class="col-sm-6">
                <div><span i18n>Arrival:</span><br />{{responder.arrivedAt|date:'shortTime'}}</div>
                <div *ngIf="responder.departedAt"><span i18n>Departure:</span><br />{{responder.departedAt|date:'shortTime'}}</div>
              </div>
            </div>
          </div>
          <div class="responder__actions">
            <ng-container *ngIf="(scene.attributes$|async).incidentCommanderId; let incidentCommanderId">
              <button *ngIf="incidentCommanderId == responder.user.id"
                      type="button" class="btn btn-xs btn-role btn-role--mgs" disabled>
                <i class="peakicon peakicon-star"></i><span i18n>Medical Group<br />Supervisor</span>
              </button>
              <div *ngIf="incidentCommanderId != responder.user.id" ngbDropdown container="body" display="dynamic" placement="bottom-left">
                <button *ngIf="responder.role" [disabled]="incidentCommanderId != user.id" ngbDropdownToggle
                        type="button" [class]="'btn btn-xs btn-role btn-role--highlighted btn-role--' + responder.role.toLowerCase()">
                  <ng-container *ngIf="responder.role == 'STAGING'"><i class="peakicon peakicon-pause"></i><span i18n>Staging Officer</span></ng-container>
                  <ng-container *ngIf="responder.role == 'TRANSPORT'"><i class="peakicon peakicon-transport"></i><span i18n>Transport Officer</span></ng-container>
                  <ng-container *ngIf="responder.role == 'TREATMENT'"><i class="peakicon peakicon-heart"></i><span i18n>Treatment Officer</span></ng-container>
                  <ng-container *ngIf="responder.role == 'TRIAGE'"><i class="peakicon peakicon-check-circle"></i><span i18n>Triage Officer</span></ng-container>
                </button>
                <button *ngIf="incidentCommanderId == user.id && !responder.role" ngbDropdownToggle
                        type="button" class="btn btn-xs btn-outline-primary">
                  <span i18n>Assign Role</span>
                </button>
                <div *ngIf="incidentCommanderId == user.id" ngbDropdownMenu [class]="'dropdown-menu btn-role-dropdown' + (responder.role ? ' btn-role--' + responder.role.toLowerCase() : '')">
                  <div class="btn-role-dropdown__bg">
                    <div class="d-flex align-items-center">
                      <button *ngIf="responder.role == 'TRIAGE'" (click)="onToggle(responder, null)" ngbDropdownItem type="button" class="btn-role--remove"><i class="peakicon peakicon-remove"></i></button>
                      <button ngbDropdownItem (click)="onToggle(responder, 'TRIAGE')" type="button" class="btn btn-xs btn-role btn-role--triage" [class.btn-role--highlighted]="responder.role == 'TRIAGE'">
                        <i class="peakicon peakicon-check-circle"></i><span i18n>Triage<br />Officer</span>
                      </button>
                    </div>
                    <div class="d-flex align-items-center">
                      <button *ngIf="responder.role == 'TREATMENT'" (click)="onToggle(responder, null)" ngbDropdownItem type="button" class="btn-role--remove"><i class="peakicon peakicon-remove"></i></button>
                      <button ngbDropdownItem (click)="onToggle(responder, 'TREATMENT')" type="button" class="btn btn-xs btn-role btn-role--treatment" [class.btn-role--highlighted]="responder.role == 'TREATMENT'">
                        <i class="peakicon peakicon-heart"></i><span i18n>Treatment<br />Officer</span>
                      </button>
                    </div>
                    <div class="d-flex align-items-center">
                      <button *ngIf="responder.role == 'STAGING'" (click)="onToggle(responder, null)" ngbDropdownItem type="button" class="btn-role--remove"><i class="peakicon peakicon-remove"></i></button>
                      <button ngbDropdownItem (click)="onToggle(responder, 'STAGING')" type="button" class="btn btn-xs btn-role btn-role--staging" [class.btn-role--highlighted]="responder.role == 'STAGING'">
                        <i class="peakicon peakicon-pause"></i><span i18n>Staging<br />Officer</span>
                      </button>
                    </div>
                    <div class="d-flex align-items-center">
                      <button *ngIf="responder.role == 'TRANSPORT'" (click)="onToggle(responder, null)" ngbDropdownItem type="button" class="btn-role--remove"><i class="peakicon peakicon-remove"></i></button>
                      <button ngbDropdownItem (click)="onToggle(responder, 'TRANSPORT')" type="button" class="btn btn-xs btn-role btn-role--transport" [class.btn-role--highlighted]="responder.role == 'TRANSPORT'">
                        <i class="peakicon peakicon-transport"></i><span i18n>Transport<br />Officer</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button *ngIf="incidentCommanderId == user.id && !responder.role && responder.user.id != incidentCommanderId"
                      (click)="transferConfirmation.show(responder, {centered: true, size: 'lg'})"
                      type="button" class="btn btn-xs btn-primary mt-2">
                <span i18n>Transfer MGS Role</span>
              </button>
            </ng-container>
          </div>
        </li>
      </ul>
    </div>
  </div>
</app-dashboard-main>
<router-outlet name="modal"></router-outlet>
<app-shared-modal #closeConfirmation
  i18n-confirmLabel confirmLabel="Close" i18n-dismissLabel dismissLabel="Cancel" (confirm)="onClose()">
  <h4 class="modal-title" i18n>Are you sure you want to close the {{(scene.attributes$|async).name}} scene?</h4>
  <div class="modal-body" i18n>After you close the scene you will still be able to edit scene details and patient information, but will not have access to the same live updates and coordination of first responders on scene.</div>
</app-shared-modal>
<app-shared-modal #leaveConfirmation
  i18n-confirmLabel confirmLabel="Leave" i18n-dismissLabel dismissLabel="Cancel" (confirm)="onLeave()">
  <h4 class="modal-title" i18n>Are you sure you want to leave the {{(scene.attributes$|async).name}} scene?</h4>
  <div class="modal-body" i18n>
    <p i18n>You can join again later if your plans change.</p>
    <p i18n>You may also be asked to fill out more information after the scene is closed.</p>
  </div>
</app-shared-modal>
<app-shared-modal #transferConfirmation
  i18n-confirmLabel confirmLabel="Transfer" i18n-dismissLabel dismissLabel="Cancel" (confirm)="onTransfer(transferConfirmation.data)">
  <h4 class="modal-title" i18n>Are you sure you want to transfer command to {{transferConfirmation.data?.user.firstName}} {{transferConfirmation.data?.user.lastName}}?</h4>
  <div class="modal-body" i18n>
    <p i18n>Once you transfer, you will no longer be able to edit the scene overview or close the scene.</p>
  </div>
</app-shared-modal>
