@import '../../assets/css/variables';

.tabs {
  position: absolute;
  bottom: 0;
  padding-left: 3.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  flex-wrap: nowrap;
}

.tab {
  background: $bgBackground;
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  border-bottom-width: 0.5rem;
  border-bottom-style: solid;

  margin: 0 0.75rem;
  width: 10rem;
  height: 4.75rem;
  display: flex;

  flex-direction: column;
  align-items: center;

  @include copy-l-bold;
  color: $mainGrey;

  cursor: pointer;
}

.tab__total {
  @include copy-l-regular;
}

.tab--active,
.tab:hover {
  padding-top: 0.375rem;
  border-top-width: 0.125rem;
  border-top-style: solid;
  border-left-width: 0.125rem;
  border-left-style: solid;
  border-right-width: 0.125rem;
  border-right-style: solid;
}

.tab--0 {
  border-color: $darkPeakBlue;
  &.tab--active,
  &:hover {
    background: $lightPeakBlue;
  }
}

.tab--1 {
  border-color: $immediateRed;
  &.tab--active,
  &:hover {
    background: $lightImmediateRed;
  }
}

.tab--2 {
  border-color: $delayedYellow;
  &.tab--active,
  &:hover {
    background: $lightDelayedYellow;
  }
}

.tab--3 {
  border-color: $minimalGreen;
  &.tab--active,
  &:hover {
    background: $lightMinimalGreen;
  }
}

.tab--4 {
  border-color: $expectGrey;
  &.tab--active,
  &:hover {
    background: $lightExpectGrey;
  }
}

.tab--5 {
  border-color: $deadBlack;
  &.tab--active,
  &:hover {
    background: $lightExpectGrey;
  }
}

.tab--6 {
  border-color: $peakBlue;
  &.tab--active,
  &:hover {
    background: $lightPeakBlue;
  }
}

.tab-bar {
  flex-shrink: 0;
  z-index: 1;
  width: 100%;
  height: 1.625rem;
}

.tab-bar--0 {
  background: $darkPeakBlue;
}

.tab-bar--1 {
  background: $immediateRed;
}

.tab-bar--2 {
  background: $delayedYellow;
}

.tab-bar--3 {
  background: $minimalGreen;
}

.tab-bar--4 {
  background: $expectGrey;
}

.tab-bar--5 {
  background: $deadBlack;
}

.tab-bar--6 {
  background: $peakBlue;
}

.toolbar {
  margin: 1rem 1.125rem;
}

.toolbar-item {
  margin: 0 1.875rem;
}

.toolbar-item__label {
  @include copy-m-bold;
  color: $lowPriorityGrey;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

.toolbar-item--sort {
  display: flex;
  align-items: center;
}

.toolbar-item--search {
  width: 28rem;
}

.patients {
  flex-grow: 1;
  margin-top: 1rem;
  padding-bottom: 2rem;
  overflow-y: auto;
}

app-dashboard-patient-row {
  display: block;
  margin: 0 3rem 1rem;
}
