@import '../../assets/css/variables';

app-dashboard-header {
  z-index: 1;
}

agm-map {
  height: 100%;
}

.marker {
  cursor: pointer;
  position: relative;
  background-size: contain;
}

.marker--me {
  background-image: url('/images/map/me.png');
  width: 104px;
  height: 104px;
  left: -52px;
  top: -52px;
}

.marker--patient {
  width: 47.5px;
  height: 47.5px;
  left: -23.75px;
  top: -23.75px;
  border-radius: 23.75px;
  box-shadow: $cardShadow;
}

.marker--pin {
  width: 70px;
  height: 92px;
  left: -35px;
  top: -92px;
}

.marker--pin-mgs {
  background-image: url('/images/map/mgs.png');
}

.marker--pin-triage {
  background-image: url('/images/map/triage.png');
}

.marker--pin-treatment {
  background-image: url('/images/map/treatment.png');
}

.marker--pin-staging {
  background-image: url('/images/map/staging.png');
}

.marker--pin-transport {
  background-image: url('/images/map/transport.png');
}

.marker--pin-other {
  background-image: url('/images/map/other.png');
}

.marker__portrait {
  position: relative;
  top: 10px;
  left: 13.5px;
  background-size: cover;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.pin-info {
  background-color: white;
  border-radius: 0.3125rem;
  position: absolute;
  top: calc(8rem + 3rem);
  left: calc(8rem + 3.75rem);
  width: 25rem;
  min-height: 8rem;
  box-shadow: $cardSelectedShadow;
  overflow: hidden;
  padding: 1.375rem calc(1.375rem + 3.25rem) 1.375rem 1.375rem;
}

.pin-info__icon {
  position: absolute;
  top: 1rem;
  right: 1.375rem;

  .peakicon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.625rem;
    width: 3.25rem;
    height: 3.25rem;
    color: white;
    font-size: 2rem;
  }
  .peakicon-star {
    background-color: $peakBlue;
  }
  .peakicon-check-circle {
    background-color: $red;
  }
  .peakicon-heart {
    background-color: $purple2;
  }
  .peakicon-pause {
    background-color: $yellow;
  }
  .peakicon-other {
    background-color: $mainGrey;
  }
}

.pin-info__name {
  @include copy-xl-bold;
  .peakicon {
    display: inline-block;
    color: $lowPriorityGrey;
    cursor: pointer;
    font-size: 1.625rem;
    width: 2rem;
    position: relative;
    top: -0.25rem;
  }
}

.pin-info__desc {
  margin-top: 1rem;
  @include copy-m-regular;
}

.pin-dialog {
  background-color: $bgBackground;
  border-radius: 0.3125rem;
  position: absolute;
  top: calc(8rem + 3rem);
  right: 3.75rem;
  width: 25rem;
  box-shadow: $cardSelectedShadow;
  overflow: hidden;
}

.pin-dialog__header {
  background-color: $peakBlue;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include copy-l-bold;
  color: white;
  padding: 0 1.375rem;

  .peakicon {
    position: absolute;
    top: 0.5rem;
    left: 1.375rem;
    font-size: 2.375rem;
  }
}

.pin-dialog__body {
  padding: 1.375rem;
}

.pin-dialog__types {
  display: flex;
  margin: 0 -0.1875rem 0.5rem;
  .btn-role {
    flex: 1 0;
    min-width: unset;
    margin: 0 0.1875rem;
    background-color: white;
    box-shadow: $buttonShadow;
  }
  div {
    flex: 1 0;
    margin: 0 0.1875rem;
  }
}
